{% comment %}

This snippet is using for rendering the header of collections section;

Usage:

{%- render 'collection-header',
    tag: tag,
    title: title,
    description: description,
    background: title_bg,
    button: view_all
-%}

{% endcomment %}

{%- if tag != blank or title != blank or description != blank or background != blank or button != blank -%}
  <div class="collections__top">
    <div class="collections__col">
      {%- if tag != blank -%}
        <span class="collections__tag">{{- tag -}}</span>
      {%- endif -%}

      {%- if title != blank -%}
        <h2 class="collections__title">{{- title -}}</h2>
      {%- endif -%}

      {%- if description != blank -%}
        <div class="collections__description">{{- description -}}</div>
      {%- endif -%}
    </div>

    <div class="collections__col">
      {%- if background != blank -%}
        <h2 class="collections__title_bg">{{- background -}}</h2>
      {%- endif -%}

      {%- if button != blank -%}
        <a href="{{ routes.collections_url }}" class="collections__show button button--outlined button--large">
          {{- button -}}
        </a>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}
