{% comment %}

  This snippet is used for rendering the Date picker

  key: section id *required,
  color_palette: "string" *required,
  background: "string" *required,
  position: "string" optional,
  title: "string" optional

  Usage:

  {%- render 'date-picker',
      key: section.key,
      color_palette: color_palette,
      background: background_accent,
      position: datepicker_position,
      title: datepicker_title
  -%}

{% endcomment %}

{%- style -%}
  @keyframes move {
    0% {
      transform: translateY(15%) rotate(90deg);
    }

    33% {
      transform: translateY(75%) rotate(90deg);
    }

    66% {
      transform: translateY(-20%) rotate(90deg);
    }

    100% {
      transform: translateY(15%) rotate(90deg);
    }
  }

  .date-picker__icon {
    margin: 0 8px 0 0;
  }

  .date-picker__icon svg {
    transform: translateY(15%) rotate(90deg);
    animation: 1.5s infinite alternate move;
    width: 16px;
    height: 17px;
  }

  .date-picker__title {
    display: flex;
    font-size: 18px;
    font-weight: var(--font-weight-regular, 400);
  }

  .date-picker__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(var(--date-picker-height, 75px) / 2);
    z-index: -1;
    background: var(--background-primary, #FFFFFF);
  }

  .date-picker__container {
    position: relative;
    padding-bottom: 1px;
    z-index: 1;
  }

  .date-picker__component {
    min-height: var(--date-picker-height, 70px);
    margin: 0 1px;
  }

  #section-{{ key }} .palette-one .date-picker__title path {
    fill: var(--color-primary, #0B1A26);
  }

  #section-{{ key }} .palette-one.date-picker__overlay {
    background: var(--background-primary, #FFFFFF);
  }

  #section-{{ key }} .palette-two .date-picker__title path {
    fill: var(--color-primary-2, #FFFFFF);
  }

  #section-{{ key }} .palette-two.date-picker__overlay {
    background: var(--background-primary-2, #0B1A26);
  }

  #section-{{ key }} .palette-three .date-picker__title path {
    fill: var(--color-primary-3, #0B1A26);
  }

  #section-{{ key }} .palette-three.date-picker__overlay {
    background: var(--background-primary-3, #F4B841);
  }

  #section-{{ key }} bq-date-picker {
    --date-picker-border-radius: var(--border-radius, 0);
    --date-picker-cleanstate-padding: 11px 22px;
    --date-picker-section-padding: 12px;
    --date-picker-title-size: 16px;
    --date-picker-text-size: 16px;
    --date-picker-title-line-height: 1.5;
    --date-picker-text-line-height: 1.5;

    {% if color_palette == "one" %}
      {% if settings.background != blank %}
        --date-picker-background-color: var(--background-primary);
      {% else %}
        --date-picker-background-color: #FFFFFF;
      {% endif %}

      {% if settings.primary_color != blank %}
        --date-picker-text-color: var(--color-primary);
        --date-picker-placeholder-color: var(--color-placeholder);
        --date-picker-section-border: 1px solid var(--color-border);
      {% else %}
        --date-picker-text-color: #0B1A26;
        --date-picker-placeholder-color: #0B1A2659;
        --date-picker-section-border: 1px solid #0B1A2626;
      {% endif %}

      {% if settings.accent_background != blank %}
        --date-picker-cleanstate-background-color: var(--background-accent);
        --date-picker-box-shadow: 0 0 0 1px var(--background-accent);
      {% else %}
        --date-picker-cleanstate-background-color: #F4B841;
        --date-picker-box-shadow: 0 0 0 1px #F4B841;
      {% endif %}

      {% if settings.accent_color != blank %}
        --date-picker-icon-color: var(--color-accent);
        --date-picker-cleanstate-text-color: var(--color-accent);
        --color-accent-foreground: var(--color-accent);
      {% else %}
        --date-picker-icon-color: #0B1A26;
        --date-picker-cleanstate-text-color: #0B1A26;
        --color-accent-foreground: #0B1A26;
      {% endif %}

    {% elsif color_palette == "two" %}
      {% if settings.background_2 != blank %}
        --date-picker-background-color: var(--background-primary-2);
      {% else %}
        --date-picker-background-color: #0B1A26;
      {% endif %}

      {% if settings.primary_color_2 != blank %}
        --date-picker-text-color: var(--color-primary-2);
        --date-picker-placeholder-color: var(--color-placeholder-2);
        --date-picker-section-border: 1px solid var(--color-border-2);
      {% else %}
        --date-picker-text-color: #FFFFFF;
        --date-picker-placeholder-color: #FFFFFF59;
        --date-picker-section-border: 1px solid #FFFFFF47;
      {% endif %}

      {% if settings.accent_background_2 != blank %}
        --date-picker-cleanstate-background-color: var(--background-accent-2);
        --date-picker-box-shadow: 0 0 0 1px var(--background-accent-2);
      {% else %}
        --date-picker-cleanstate-background-color: #F4B841;
        --date-picker-box-shadow: 0 0 0 1px #F4B841;
      {% endif %}

      {% if settings.accent_color_2 != blank %}
        --date-picker-icon-color: var(--color-accent-2);
        --date-picker-cleanstate-text-color: var(--color-accent-2);
        --color-accent-foreground: var(--color-accent-2);
      {% else %}
        --date-picker-icon-color: #0B1A26;
        --date-picker-cleanstate-text-color: #0B1A26;
        --color-accent-foreground: #0B1A26;
      {% endif %}

    {% elsif color_palette == "three" %}
      {% if settings.background_3 != blank %}
        --date-picker-background-color: var(--background-primary-3);
      {% else %}
        --date-picker-background-color: #F4B841;
      {% endif %}

      {% if settings.primary_color_3 != blank %}
        --date-picker-text-color: var(--color-primary-3);
        --date-picker-placeholder-color: var(--color-placeholder-3);
        --date-picker-section-border: 1px solid var(--color-border-3);
      {% else %}
        --date-picker-text-color: #0B1A26;
        --date-picker-placeholder-color: #0B1A2659;
        --date-picker-section-border: 1px solid #0B1A2626;
      {% endif %}

      {% if settings.accent_background_3 != blank %}
        --date-picker-cleanstate-background-color: var(--background-accent-3);
        --date-picker-box-shadow: 0 0 0 1px var(--background-accent-3);
      {% else %}
        --date-picker-cleanstate-background-color: #0B1A26;
        --date-picker-box-shadow: 0 0 0 1px #0B1A26;
      {% endif %}

      {% if settings.accent_color_3 != blank %}
        --date-picker-icon-color: var(--color-accent-3);
        --date-picker-cleanstate-text-color: var(--color-accent-3);
        --color-accent-foreground: var(--color-accent-3);
      {% else %}
        --date-picker-icon-color: #FFFFFF;
        --date-picker-cleanstate-text-color: #FFFFFF;
        --color-accent-foreground: #FFFFFF;
      {% endif %}
    {%- endif -%}
  }
{%- endstyle -%}

{%- assign bottom = true -%}

{%- if position != "bottom" -%}
  {%- assign bottom = false -%}
{%- endif -%}

<div class="date-picker__instance{% if bottom %} date-picker-instance{%- endif -%}">
  <div class="date-picker__container{% if bottom %} container{%- endif -%}">
    {%- if title != blank -%}
      <h2 class="date-picker__title">
        <span class="date-picker__icon">
          {%- render 'icon-arrow-right-full' -%}
        </span>
        {{- title -}}
      </h2>
    {%- endif -%}

    <div class="date-picker__component">
      <bq-date-picker branding-color="{{- background -}}"></bq-date-picker>
    </div>
  </div>

  {%- if bottom -%}
    <div class="date-picker__overlay section-with-date-picker__overlay"></div>
  {%- endif -%}
</div>

{%- if bottom -%}
  {% render 'script-date-picker-background' %}
{%- endif -%}
