{% comment %}

  This snippet is using for rendering the contact form

  id - section.key
  title - "string" optional,
  description - "string" optional,
  name - "string" optional,
  email - "string" optional,
  message - "string" optional,
  success_message - "string" optional,
  error_message - "string" optional,
  button_label - "string" optional,
  button_variables - "string" optional

  Usage:

  {%- render "form",
      id: your_id,
      title: your_id,
      description: your_id,
      name: your_id,
      email: your_id,
      message: your_id,
      success_message: your_id,
      error_message: your_id,
      button_label: your_id
  -%}

{% endcomment %}

{{ "form.css" | asset_url | stylesheet_tag }}

<div id="{{- id -}}" class="form__inner">
  <h2 class="form__title">
    {{- title | default: "Contact us" -}}
  </h2>

  {%- if description != blank -%}
    <div class="form__text bq-content rx-content">
      {{- description -}}
    </div>
  {%- endif -%}

  {%- form 'contact' -%}
    <div class="form__block{% if form.errors.author %} form__block--error{%- endif -%}">
      <label class="form__label" for="author">
        {{- name | default: "Name" -}}

        <span class="form__label-backlight">
          {{- name | default: "Name" -}}
        </span>
      </label>

      <input
        value="{{- form.author -}}"
        placeholder=" "
        class="form__input"
        autocomplete="author"
        type="text"
        name="form[author]"
        id="author"
      >

      <div class="form__error-message">
        {{- form.errors.author -}}
      </div>
    </div>

    <div class="form__block{% if form.errors.email %} form__block--error{%- endif -%}">
      <label class="form__label" for="email">
        {{- email | default: "Email" -}}

        <span class="form__label-backlight">
          {{- email | default: "Email" -}}
        </span>
      </label>

      <input
        value="{{- form.email -}}"
        placeholder=" "
        class="form__input"
        autocomplete="email"
        type="email"
        name="form[email]"
        id="email"
      >

      <div class="form__error-message">
        {{- form.errors.email -}}
      </div>
    </div>

    <div class="form__block form__message{% if form.errors.body %} form__block--error{%- endif -%}">
      <label class="form__label" for="body">
        {{- message | default: "Message" -}}

        <span class="form__label-backlight">
          {{- message | default: "Message" -}}
        </span>
      </label>

      <textarea
        value=" "
        placeholder=" "
        class="form__textarea"
        name="form[body]"
        id="body"
      >
        {%- if form.posted_successfully -%}{{- form.body | strip -}}{%- endif -%}
      </textarea>

      <div class="form__error-message">
        {{- form.errors.body | strip -}}
      </div>
    </div>

    <div class="form__info">
      {%- if form.posted_successfully -%}
        <p class="success">
          <i class="fa-solid fa-circle-check"></i> {{- success_message | default: "Thanks for your message! We'll get back to you shortly" -}}
        </p>
      {%- endif -%}

      {%- if form.errors != blank -%}
        <p class="error">
          <i class="fa-solid fa-circle-exclamation"></i> {{- error_message | default: "Oops, something went wrong. Please fix the errors and try again" -}}
        </p>
      {%- endif -%}
    </div>

    <div class="form__submit">
      <button class="button button--large button--primary">
        {{- button_label | default: "Submit" -}}
      </button>
    </div>
  {%- endform -%}
</div>
