{% comment %}

  This snippet is used for rendering the header of section

  title - "string" optional,
  text - "string" optional,
  background - "string" optional,
  btn_primary - "string" optional,
  btn_outline - "string" optional,
  btn_primary_url - url optional,
  btn_outline_url - url optional

  Usage:

  {%- render 'section-header',
      title: your_id,
      text: your_id,
      background: your_id,
      btn_primary: your_id,
      btn_primary_url: your_id,
      btn_outline: your_id,
      btn_outline_url: your_id
  -%}

{% endcomment %}

{%- if text != blank or title != blank or background != blank or btn_primary != blank or btn_outline != blank -%}
  {{ "section-header.css" | asset_url | stylesheet_tag }}

  <div class="section-header">
    {%- if title != blank -%}
      <h2 class="section-header__title">{{- title -}}</h2>
    {%- endif -%}

    {%- if background != blank -%}
      <h2 class="section-header__background">{{- background -}}</h2>
    {%- endif -%}

    {%- if text != blank -%}
      <div class="section-header__text">{{- text -}}</div>
    {%- endif -%}

    {%- if btn_primary != blank or btn_outline != blank -%}
      <div class="section-header__buttons">
        {%- if btn_primary != blank and btn_primary_url != blank -%}
          <a href="{{  btn_primary_url }}" class="section-header__button button button--primary button--large">{{- btn_primary -}}</a>
        {%- endif -%}

        {%- if btn_outline != blank and btn_outline_url != blank -%}
          <a href="{{  btn_outline_url }}" class="section-header__button button button--outlined button--large">{{- btn_outline -}}</a>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
{%- endif -%}
