<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} Base stylesheets {% endcomment %}
  {{ "base.css" | asset_url | stylesheet_tag }}
  {{ "rx.css" | asset_url | stylesheet_tag }}
  {% comment %} Fonts {% endcomment %}
  <script src="https://kit.fontawesome.com/ff3b3de2b5.js" crossorigin="anonymous"></script>
  {{ content_for_header }}
  {% if settings.heading_font != blank or settings.body_font != blank %}
    <link rel="preconnect" href="https://fonts.bunny.net">
  {% endif %}
  {% if settings.heading_font != blank %}
    {{ settings.heading_font | font_link }}
  {% endif %}
  {% if settings.body_font != blank %}
    {{ settings.body_font | font_link }}
  {% endif %}
  {% comment %} Color palette related styles {% endcomment %}
  <style>
    :root {
      {%- if settings.background != blank -%}
        --background-primary: {{- settings.background -}};
        --background-primary-00: {{- settings.background | append: "00" -}};
        --background-primary-10: {{- settings.background | append: "1A" -}};
        --background-primary-45: {{- settings.background | append: "73" -}};
        --background-primary-60: {{- settings.background | append: "99" -}};
      {%- endif -%}

      {%- if settings.primary_color != blank -%}
        --color-primary: {{- settings.primary_color -}};
        --color-primary-30: {{- settings.primary_color | append: "4D" -}};
        --color-primary-45: {{- settings.primary_color | append: "73" -}};
        --color-primary-80: {{- settings.primary_color | append: "CC" -}};
        --color-primary-hover: {{- settings.primary_color | append: "52" -}};
        --color-primary-active: {{- settings.primary_color | append: "8F" -}};
        --color-third: {{- settings.primary_color | append: "59"-}};
        --color-fourth: {{- settings.primary_color | append: "26" -}};
        --color-image-placeholder: {{- settings.primary_color | append: "26" -}};
        --color-placeholder: {{- settings.primary_color | append: "59"  -}};
        --color-border: {{- settings.primary_color | append: "26" -}};
      {%- endif -%}

      {%- if settings.secondary_color != blank -%}
        --color-secondary: {{- settings.secondary_color -}};
      {%- endif -%}

      {%- if settings.accent_background != blank -%}
        --background-accent: {{- settings.accent_background -}};
        --background-accent-00: {{- settings.accent_background | append: "00" -}};
        --background-accent-hover: {{- settings.accent_background | append: "CC" -}};
        --background-accent-active: {{- settings.accent_background | append: "BA" -}};
        --background-accent-secondary-hover: {{- settings.accent_background | append: "52" -}};
        --background-accent-secondary-active: {{- settings.accent_background | append: "8F" -}};
      {%- else -%}
        --background-accent: {{- branding_color -}};
        --background-accent-00: {{- branding_color | append: "00" -}};
        --background-accent-hover: {{- branding_color | append: "CC" -}};
        --background-accent-active: {{- branding_color | append: "BA" -}};
        --background-accent-secondary-hover: {{- branding_color | append: "52" -}};
        --background-accent-secondary-active: {{- branding_color | append: "8F" -}};
      {%- endif -%}

      {%- if settings.accent_color != blank -%}
        --color-accent: {{- settings.accent_color -}};
      {%- else -%}
        --color-accent: {%- if settings.primary_color != blank -%}{{- settings.primary_color -}}{%- endif -%};
      {%- endif -%}

      {%- if settings.accent_outline != blank -%}
        --color-outline: {{- settings.accent_outline -}};
        --color-outline-hover: {{- settings.accent_outline | append: "CC" -}};
        --color-outline-active: {{- settings.accent_outline | append: "BA" -}};
      {%- else -%}
        --color-outline: {{- branding_color -}};
        --color-outline-hover: {{- branding_color | append: "CC" -}};
        --color-outline-active: {{- branding_color | append: "BA" -}};
      {%- endif -%}

      {%- if settings.background_2 != blank -%}
        --background-primary-2: {{- settings.background_2 -}};
        --background-primary-2-00: {{- settings.background_2 | append: "00" -}};
        --background-primary-2-10: {{- settings.background_2 | append: "1A" -}};
        --background-primary-2-45: {{- settings.background_2 | append: "73" -}};
        --background-primary-2-60: {{- settings.background_2 | append: "99" -}};
      {%- endif -%}

      {%- if settings.primary_color_2 != blank -%}
        --color-primary-2: {{- settings.primary_color_2 -}};
        --color-primary-2-30: {{- settings.primary_color_2 | append: "4D" -}};
        --color-primary-2-45: {{- settings.primary_color_2 | append: "73" -}};
        --color-primary-2-80: {{- settings.primary_color_2 | append: "CC" -}};
        --color-primary-2-hover: {{- settings.primary_color_2 | append: "52" -}};
        --color-primary-2-active: {{- settings.primary_color_2 | append: "8F" -}};
        --color-third-2: {{- settings.primary_color_2 | append: "59"-}};
        --color-fourth-2: {{- settings.primary_color_2 | append: "47" -}};
        --color-image-placeholder-2: {{- settings.primary_color_2 | append: "47" -}};
        --color-placeholder-2: {{- settings.primary_color_2 | append: "59"  -}};
        --color-border-2: {{- settings.primary_color_2 | append: "47" -}};
      {%- endif -%}

      {%- if settings.secondary_color_2 != blank -%}
        --color-secondary-2: {{- settings.secondary_color_2 -}};
      {%- endif -%}

      {%- if settings.accent_background_2 != blank -%}
        --background-accent-2: {{- settings.accent_background_2 -}};
        --background-accent-2-00: {{- settings.accent_background_2 | append: "00" -}};
        --background-accent-2-hover: {{- settings.accent_background_2 | append: "CC" -}};
        --background-accent-2-active: {{- settings.accent_background_2 | append: "BA" -}};
        --background-accent-secondary-2-hover: {{- settings.accent_background_2 | append: "52" -}};
        --background-accent-secondary-2-active: {{- settings.accent_background_2 | append: "8F" -}};
      {%- else -%}
        --background-accent-2: {{- branding_color -}};
        --background-accent-2-00: {{- branding_color | append: "00" -}};
        --background-accent-2-hover: {{- branding_color | append: "CC" -}};
        --background-accent-2-active: {{- branding_color | append: "BA" -}};
        --background-accent-secondary-2-hover: {{- branding_color | append: "52" -}};
        --background-accent-secondary-2-active: {{- branding_color | append: "8F" -}};
      {%- endif -%}

      {%- if settings.accent_color_2 != blank -%}
        --color-accent-2: {{- settings.accent_color_2 -}};
      {%- else -%}
        --color-accent-2: {%- if settings.primary_color_2 != blank -%}{{- settings.primary_color_2 -}}{%- endif -%};
      {%- endif -%}

      {%- if settings.accent_outline_2 != blank -%}
        --color-outline-2: {{- settings.accent_outline_2 -}};
        --color-outline-2-hover: {{- settings.accent_outline_2 | append: "CC" -}};
        --color-outline-2-active: {{- settings.accent_outline_2 | append: "BA" -}};
      {%- else -%}
        --color-outline-2: {{- branding_color -}};
        --color-outline-2-hover: {{- branding_color | append: "CC" -}};
        --color-outline-2-active: {{- branding_color | append: "BA" -}};
      {%- endif -%}

      {%- if settings.heading_font != blank -%}
        --font-heading: {{ settings.heading_font.family }}, {{ settings.heading_font.fallback_families }};
      {%- endif -%}
      {%- if settings.body_font != blank -%}
        --font-body: {{ settings.body_font.family }}, {{ settings.body_font.fallback_families }};
      {%- endif -%}

      {%- if settings.h1_size != blank -%}
        --font-size-h1: {{- settings.h1_size | append: "px" -}};
      {%- endif -%}
      {%- if settings.h2_size != blank -%}
        --font-size-h2: {{- settings.h2_size | append: "px" -}};
      {%- endif -%}
      {%- if settings.h3_size != blank -%}
        --font-size-h3: {{- settings.h3_size | append: "px" -}};
      {%- endif -%}
      {%- if settings.h4_size != blank -%}
        --font-size-h4: {{- settings.h4_size | append: "px" -}};
      {%- endif -%}
      {%- if settings.h5_size != blank -%}
        --font-size-h5: {{- settings.h5_size | append: "px" -}};
      {%- endif -%}
      {%- if settings.h6_size != blank -%}
        --font-size-h6: {{- settings.h6_size | append: "px" -}};
      {%- endif -%}

      {%- if settings.animation_duration != blank -%}
        --animation-duration: {{- settings.animation_duration | append: "ms"-}};
      {%- endif -%}

      {%- case settings.social_size -%}
        {%- when 'sm' -%}
          --social-size: 18px;
        {%- when 'md' -%}
          --social-size: 21px;
        {%- when 'lg' -%}
          --social-size: 24px;
      {%- endcase -%}

      {%- case settings.social_spacing -%}
        {%- when 'sm' -%}
          --social-spacing: 5px;
        {%- when 'md' -%}
          --social-spacing: 7px;
        {%- when 'lg' -%}
          --social-spacing: 9px;
      {%- endcase -%}
    }
  </style>

  {% if page_title == blank %}
    <title>{{ shop.name }}</title>
    <meta property="og:title" content="{{ shop.name }}">
    <meta name="twitter:title" content="{{ shop.name }}">
  {% else %}
    <title>{{ page_title }}</title>
    <meta property="og:title" content="{{ page_title }}">
    <meta name="twitter:title" content="{{ page_title }}">
  {% endif %}
  {% if page_description != blank %}
    <meta name="description" content="{{ page_description }}">
    <meta property="og:description" content="{{ page_description }}">
    <meta name="twitter:description" content="{{ page_description }}">
  {% endif %}
  <meta name="twitter:card" content="summary">
  <meta property="og:locale" content="{{ locale }}">

  {% if product == blank %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ canonical_url }}">
  {% else %}
    <meta property="og:type" content="product">
    <meta property="og:url" content="{{ product.url }}">

    {% assign image = product.images.first %}
    {% if image.url != blank %}
      <meta property="og:image" content="{{ image.url | image_url }}">
      <meta property="og:image:secure_url" content="{{ image.url | image_url }}">
      <meta property="og:image:alt" content="{{ product.name }}">
      <meta name="twitter:image" content="{{ image.url | image_url }}">
      <meta name="twitter:image:alt" content="{{ product.name }}">
    {% endif %}
  {% endif %}
</head>
<body>

  <header class="header" id="header">
    {% section 'top-bar' %}
    {% section 'header' %}
  </header>

  <main id="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  <script src="{{ "lazysizes.min.js" | asset_url }}" defer></script>
  <script src="{{ "main.js" | asset_url }}" defer></script>
  <script src="{{ "header.js" | asset_url }}" defer></script>
  <script src="{{ "carousel.js" | asset_url }}" defer></script>

  {{ content_for_body }}

</body>
</html>
