<!DOCTYPE html>
<html lang="{{ locale }}" class="{{- settings.element_design -}}-design">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="theme-color" content="{%- if settings.accent_background != blank -%}{{- settings.accent_background -}}{%- else -%}{{- branding_color -}}{%- endif -%}">
    {% comment %} Base stylesheets {% endcomment %}
    {{ "base.css" | asset_url | stylesheet_tag }}
    {{ "rx.css" | asset_url | stylesheet_tag }}
    {% comment %} Fonts {% endcomment %}
    <script src="https://kit.fontawesome.com/ff3b3de2b5.js" crossorigin="anonymous"></script>
    {{ content_for_header }}

    {% render 'fonts', settings: settings %}
    {% render 'root-styles', settings: settings %}
    <style>
      {%- case settings.cookie_notice_color_palette -%}
        {%- when 'one' -%}
          #cc-main {
            --cc-bg: var(--background-primary);
            --cc-font-family: var(--font-body);

            --cc-primary-color: var(--color-primary);
            --cc-secondary-color: var(--color-primary);

            --cc-btn-primary-bg: var(--background-accent);
            --cc-btn-primary-color: var(--color-accent);
            --cc-btn-primary-border-color: transparent;

            --cc-btn-primary-hover-bg: var(--background-accent-hover);
            --cc-btn-primary-hover-border-color: var(--background-accent-hover);

            --cc-btn-secondary-bg: transparent;
            --cc-btn-secondary-color: var(--color-primary);
            --cc-btn-secondary-border-color: var(--background-accent);

            --cc-btn-secondary-hover-bg: var(--background-accent-secondary-hover);
            --cc-btn-secondary-hover-border-color: var(--background-accent-secondary-hover);
            --cc-btn-secondary-hover-color: var(--color-primary);

            --cc-cookie-category-block-bg: transparent;
            --cc-cookie-category-block-hover-bg: transparent;

            --cc-toggle-readonly-bg: var(--background-accent-hover);
            --cc-toggle-readonly-knob-icon-color: var(--background-accent-hover);
            --cc-toggle-on-bg: var(--background-accent);

            .pm__section-arrow {
              background: none !important;
            }
          }
        {%- when 'two' -%}
          #cc-main {
            --cc-bg: var(--background-primary-2);
            --cc-font-family: var(--font-body);

            --cc-primary-color: var(--color-primary-2);
            --cc-secondary-color: var(--color-primary-2);

            --cc-btn-primary-bg: var(--background-accent-2);
            --cc-btn-primary-color: var(--color-accent-2);
            --cc-btn-primary-border-color: transparent;

            --cc-btn-primary-hover-bg: var(--background-accent-2-hover);
            --cc-btn-primary-hover-border-color: var(--background-accent-2-hover);

            --cc-btn-secondary-bg: transparent;
            --cc-btn-secondary-color: var(--color-primary-2);
            --cc-btn-secondary-border-color: var(--background-accent-2);

            --cc-btn-secondary-hover-bg: var(--background-accent-secondary-2-hover);
            --cc-btn-secondary-hover-border-color: var(--background-accent-secondary-2-hover);
            --cc-btn-secondary-hover-color: var(--color-primary-2);

            --cc-cookie-category-block-bg: transparent;
            --cc-cookie-category-block-hover-bg: transparent;

            --cc-toggle-readonly-bg: var(--background-accent-2-hover);
            --cc-toggle-readonly-knob-icon-color: var(--background-accent-2-hover);
            --cc-toggle-on-bg: var(--background-accent-2);

            .pm__section-arrow {
              background: none !important;
            }
          }
        {%- when 'three' -%}
          #cc-main {
            --cc-bg: var(--background-primary-3);
            --cc-font-family: var(--font-body);

            --cc-primary-color: var(--color-primary-3);
            --cc-secondary-color: var(--color-primary-3);

            --cc-btn-primary-bg: var(--background-accent-3);
            --cc-btn-primary-color: var(--color-accent-3);
            --cc-btn-primary-border-color: transparent;

            --cc-btn-primary-hover-bg: var(--background-accent-3-hover);
            --cc-btn-primary-hover-border-color: var(--background-accent-3-hover);

            --cc-btn-secondary-bg: transparent;
            --cc-btn-secondary-color: var(--color-primary-3);
            --cc-btn-secondary-border-color: var(--background-accent-3);

            --cc-btn-secondary-hover-bg: var(--background-accent-secondary-3-hover);
            --cc-btn-secondary-hover-border-color: var(--background-accent-secondary-3-hover);
            --cc-btn-secondary-hover-color: var(--color-primary-3);

            --cc-cookie-category-block-bg: transparent;
            --cc-cookie-category-block-hover-bg: transparent;

            --cc-toggle-readonly-bg: var(--background-accent-3-hover);
            --cc-toggle-readonly-knob-icon-color: var(--background-accent-3-hover);
            --cc-toggle-on-bg: var(--background-accent-3);

            .pm__section-arrow {
              background: none !important;
            }
          }
      {%- endcase -%}
    </style>

    {% render 'page-metadata',
      page_title: page_title,
      page_description: page_description,
      product: product,
      shop: shop
    %}
  </head>
  <body>

    <header class="header" id="header">
      {% section 'top-bar' %}
      {% section 'header' %}
    </header>

    <main id="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <script src="{{ "lazysizes.min.js" | asset_url }}" defer></script>
    <script src="{{ "touch-device-notch.js" | asset_url }}" defer></script>
    <script src="{{ "main.js" | asset_url }}" defer></script>
    <script src="{{ "text-with-image.js" | asset_url }}" defer></script>
    <script src="{{ "header.js" | asset_url }}" defer></script>
    <script src="{{ "carousel.js" | asset_url }}" defer></script>

    {%- assign background_accent = settings.background_3 | default: branding_color -%}

    <bq-date-picker-modal branding-color="{{- background_accent -}}"></bq-date-picker-modal>

    {{ content_for_body }}

  </body>
</html>
