<link rel="preload" href="{{ 'announcement-bar.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{%- assign hide_announcement_bar        = section.settings.hide_announcement_bar -%}
{%- assign announcement_bar_image       = section.settings.announcement_bar_image -%}
{%- assign announcement_bar_text        = section.settings.announcement_bar_text -%}
{%- assign announcement_bar_phone       = section.settings.announcement_bar_phone -%}
{%- assign announcement_bar_message     = section.settings.announcement_bar_message -%}
{%- assign announcement_bar_menu        = section.settings.announcement_bar_menu -%}
{%- assign announcement_bar_background  = section.settings.announcement_bar_background -%}
{%- assign announcement_bar_foreground  = section.settings.announcement_bar_foreground -%}
{%- assign padding_top                  = section.settings.padding_top -%}
{%- assign padding_bottom               = section.settings.padding_bottom -%}
{%- assign padding_top_mobile           = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile        = section.settings.padding_bottom_mobile -%}

{% comment %} CSS variables {% endcomment %}
{%- capture variables -%}
  --color-announcement-bar-background: {{ announcement_bar_background }};
  --color-announcement-bar-foreground: {{ announcement_bar_foreground }};
  --padding-top: {{ padding_top }}px;
  --padding-bottom: {{ padding_bottom }}px;
  --padding-top-mobile: {{ padding_top_mobile }}px;
  --padding-bottom-mobile: {{ padding_bottom_mobile }}px;
{%- endcapture -%}

{%- if hide_announcement_bar != true -%}
  <div class="announcement-bar__wrapper{% if announcement_bar_background != blank %} announcement-bar-background{% endif %}{% if announcement_bar_foreground != blank %} announcement-bar-color{% endif %}{% if padding_top != 0 or padding_top_mobile != 0 %} announcement-bar__wrapper--padding-top{% endif %}{% if padding_bottom != 0 or padding_bottom_mobile != 0 %} announcement-bar__wrapper--padding-bottom{%- endif -%}" style="{{- variables | escape -}}">
    <div class="announcement-bar__container container">
      <div class="announcement-bar__info">

        {%- if announcement_bar_image.url != blank -%}
          <img
            src="{{ announcement_bar_image | image_url }}"
            alt="{{- announcement_bar_image.alt -}}"
            class="announcement-bar__icon"
          >
        {%- else -%}
          <i class="announcement-bar__icon">
            {%- include 'icon-phone' -%}
          </i>
        {%- endif -%}

        {%- if announcement_bar_text != blank -%}
          <span class="announcement-bar__text">
            {{- announcement_bar_text -}}
          </span>
        {%- endif -%}

        {%- if announcement_bar_phone != blank -%}
          <span class="announcement-bar__phone">
            <a href="tel:{{ announcement_bar_phone | remove: '+' | remove: ' ' }}" class="announcement-bar__phone-link" style="font-size: 14px">
              {{- announcement_bar_phone -}}
            </a>
          </span>
        {%- endif -%}

      </div>

      <span class="announcement-bar__text">
        {%- if announcement_bar_message != blank -%}
          {{- announcement_bar_message -}}
        {%- endif -%}
      </span>

      <nav class="announcement-bar__menu">

        {%- if announcement_bar_menu != blank -%}
          <ul class="announcement-bar__menu-list">
            {%- for link in announcement_bar_menu.items -%}
              {%- if link != blank -%}
                <li class="announcement-bar__menu-item">
                  <a href="{{ link.url }}" class="announcement-bar__menu-link">
                    {{- link.title -}}
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}

      </nav>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Announcement bar",
    "tag": "section",
    "class": "announcement-bar",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "checkbox",
        "id": "hide_announcement_bar",
        "default": false,
        "label": "Hide bar"
      },
      {
        "type": "image_picker",
        "id": "announcement_bar_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Text",
        "default": "Call Us 24/7"
      },
      {
        "type": "text",
        "id": "announcement_bar_phone",
        "label": "Phone number",
        "default": "+1 755 302 8549",
        "info": "Note: This field accepts only numbers, sign '+' and spaces"
      },
      {
        "type": "contentEditor",
        "id": "announcement_bar_message",
        "label": "Message",
        "default": "Free shipping from €50"
      },
      {
        "type": "menu",
        "id": "announcement_bar_menu",
        "label": "Anoncement menu",
        "info": "Note: Use menus with one or couple of links max"
      },
      {
        "type": "color",
        "id": "announcement_bar_background",
        "label": "Background color",
        "info": "Note: This color always overrides the default color, and is applied to this section only"
      },
      {
        "type": "color",
        "id": "announcement_bar_foreground",
        "label": "Foreground color",
        "info": "Note: This color always overrides the default color, and is applied to this section only"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "Padding top",
        "default": "4",
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "default": "4",
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "default": "8",
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "default": "8",
        "info": "Note: Use positive numbers only"
      }
    ]
  }
{% endschema %}
