{%- assign hide_bar = section.settings.hide_bar -%}

{%- if hide_bar != true -%}
  <link rel="preload" href="{{ 'announcement-bar.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

  {%- assign bar_image             = section.settings.bar_image -%}
  {%- assign bar_text              = section.settings.bar_text -%}
  {%- assign bar_phone             = section.settings.bar_phone -%}
  {%- assign bar_message           = section.settings.bar_message -%}
  {%- assign bar_menu              = section.settings.bar_menu -%}
  {%- assign bar_background        = section.settings.bar_background -%}
  {%- assign bar_foreground        = section.settings.bar_foreground -%}
  {%- assign padding_top           = section.settings.padding_top -%}
  {%- assign padding_bottom        = section.settings.padding_bottom -%}
  {%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
  {%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- if bar_background != blank -%}
      --color-accent-background: {{ bar_background }};
    {%- endif -%}
    {%- if bar_foreground != blank -%}
      --color-accent-foreground: {{ bar_foreground }};
    {%- endif -%}
    {%- if padding_top != blank -%}
      --padding-top: {{ padding_top }}px;
    {%- endif -%}
    {%- if padding_bottom != blank -%}
      --padding-bottom: {{ padding_bottom }}px;
    {%- endif -%}
    {%- if padding_top_mobile != blank -%}
      --padding-top-mobile: {{ padding_top_mobile }}px;
    {%- endif -%}
    {%- if padding_bottom_mobile != blank -%}
      --padding-bottom-mobile: {{ padding_bottom_mobile }}px;
    {%- endif -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  <div
    class="announcement-bar__wrapper{% if padding_top != blank or padding_top_mobile != blank %} announcement-bar__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} announcement-bar__wrapper--padding-bottom{%- endif -%}"
    style="{{- variables | escape -}}"
  >
    <div class="announcement-bar__container container">
      <div class="announcement-bar__info">
        {%- if bar_image.url != blank -%}
          {%- render 'image',
              image: bar_image,
              class: 'announcement-bar__icon',
              size: 'xs'
          -%}
        {%- else -%}
          <i class="announcement-bar__icon">
            {%- render 'icon-phone' -%}
          </i>
        {%- endif -%}

        {%- if bar_text != blank -%}
          <span class="announcement-bar__text">
            {{- bar_text -}}
          </span>
        {%- endif -%}

        {%- if bar_phone != blank -%}
          <span class="announcement-bar__phone">
            <a href="tel:{{ bar_phone | remove: '+' | remove: ' ' }}" class="announcement-bar__phone-link" style="font-size: 14px">
              {{- bar_phone -}}
            </a>
          </span>
        {%- endif -%}
      </div>

      <span class="announcement-bar__text">
        {%- if bar_message != blank -%}
          {{- bar_message -}}
        {%- endif -%}
      </span>

      <nav class="announcement-bar__menu">
        {%- if bar_menu != blank -%}
          <ul class="announcement-bar__menu-list">
            {%- for link in bar_menu.items -%}
              {%- if link != blank -%}
                <li class="announcement-bar__menu-item">
                  <a href="{{ link.url }}" class="announcement-bar__menu-link">
                    {{- link.title -}}
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </nav>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Announcement bar",
    "tag": "section",
    "class": "announcement-bar",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "checkbox",
        "id": "hide_bar",
        "default": false,
        "label": "Hide bar"
      },
      {
        "type": "image_picker",
        "id": "bar_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "bar_text",
        "label": "Text",
        "default": "Call Us 24/7"
      },
      {
        "type": "text",
        "id": "bar_phone",
        "label": "Phone number",
        "default": "+1 755 302 8549",
        "info": "Note: This field accepts only numbers, sign '+' and spaces"
      },
      {
        "type": "contentEditor",
        "id": "bar_message",
        "label": "Message",
        "default": "Free shipping from €50"
      },
      {
        "type": "menu",
        "id": "bar_menu",
        "label": "Anoncement menu",
        "info": "Note: Use menus with one or couple of links max"
      },
      {
        "type": "color",
        "id": "bar_background",
        "label": "Background color",
        "info": "Note: This color always overrides the default color, and is applied to this section only"
      },
      {
        "type": "color",
        "id": "bar_foreground",
        "label": "Foreground color",
        "info": "Note: This color always overrides the default color, and is applied to this section only"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 4,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 4,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 8,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 8,
        "info": "Note: Use positive numbers only"
      }
    ]
  }
{% endschema %}
