<link rel="preload" href="{{ 'collection-page.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
{{ "product-card.css" | asset_url | stylesheet_tag }}

{% if preview %}
  {% assign current_url = request_fullpath | strip %}
{% else %}
  {% assign current_url = request_path | strip %}
{% endif %}

{%- assign grid                  = section.settings.grid -%}
{%- assign sticky_sidebar        = section.settings.sticky_sidebar -%}
{%- assign sidebar_toggle        = section.settings.sidebar_toggle -%}
{%- assign sorting_label         = section.settings.sorting_label -%}
{%- assign message               = section.settings.message -%}
{%- assign limit                 = section.settings.limit -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign blocks                = section.blocks -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- if padding_top != blank -%}
    --padding-top: {{ padding_top }}px;
  {%- endif -%}
  {%- if padding_bottom != blank -%}
    --padding-bottom: {{ padding_bottom }}px;
  {%- endif -%}
  {%- if padding_top_mobile != blank -%}
    --padding-top-mobile: {{ padding_top_mobile }}px;
  {%- endif -%}
  {%- if padding_bottom_mobile != blank -%}
    --padding-bottom-mobile: {{ padding_bottom_mobile }}px;
  {%- endif -%}

  {%- case grid -%}
    {%- when 'two' -%}
      --grid-element: 2;
    {%- when 'three' -%}
      --grid-element: 3;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

<div class="collection-page__wrapper{% if padding_top != blank or padding_top_mobile != blank %} collection-page__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} collection-page__wrapper--padding-bottom{%- endif -%}" style="{{- variables | escape -}}">
  <div class="collection-page__container container{% if blocks.size > 0 %} collection-page__container--with-sidebar{%- endif -%}">
    {%- if blocks.size > 0 -%}
      <div class="collection-page__sidebar-navigation">
        {% render "sidebar-navigation", menus: blocks, sticky: sticky_sidebar, mode: "desktop", current_url: current_url %}
      </div>
    {%- endif -%}

    <div class="collection-page__inner">
      {%- if blocks.size > 0 -%}
        <div class="collection-page__header">
          <div class="collection-page__sidebar-navigation--mobile">
            {%- render "sidebar-navigation", menus: blocks, sticky: sticky_sidebar, mode: "mobile", toggle: sidebar_toggle -%}
          </div>
        </div>
      {%- endif -%}

      {% if collection.products_count > 0 %}
        {% assign products = collection.products %}

        {% paginate products by limit %}
          <div class="collection-page__products">
            {% for product in products %}
              {%- render 'product-card', product: product -%}
            {% endfor %}
          </div>

          {% if paginate.pages > 1 %}
            <div class="collection-page__pagination">
              {%- include "pagination" -%}
            </div>
          {% endif %}
        {% endpaginate %}

      {% else %}
        <p>{{- message -}}</p>
      {% endif %}
    </div>
  </div>
</div>

<script src="{{ "products-sorting.js" | asset_url }}" defer></script>

{% schema %}
  {
    "name": "Product list",
    "tag": "section",
    "class": "collection-page",
    "templates": ["collection"],
    "settings": [
      {
        "type": "header",
        "content": "Translations"
      },
      {
        "type": "text",
        "id": "sidebar_toggle",
        "label": "Toggle opener label",
        "default": "Filters"
      },
      {
        "type": "text",
        "id": "sorting_label",
        "label": "Sorting label",
        "default": "Sort by"
      },
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "number",
        "id": "limit",
        "label": "Product limit for pagination",
        "min": 2,
        "max": 18,
        "default": 6,
        "info": "Note: Use positive numbers only. Min number is 2, max number is 18"
      },
      {
        "type": "text",
        "id": "message",
        "label": "Message for empty collection",
        "default": "Sorry, there are no products in this collection yet",
        "info": "Note: This message appears when the collection exist, but doesn't have any products"
      },
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "checkbox",
        "id": "sticky_sidebar",
        "default": true,
        "label": "Sticky sidebar while scrolling page"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Grid",
        "options": [
          {
            "value": "two",
            "label": "2 products"
          },
          {
            "value": "three",
            "label": "3 products"
          }
        ],
        "default": "three"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 24,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 24,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 24,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 24,
        "info": "Note: Use positive numbers only"
      }
    ],
    "blocks": [
      {
        "type": "sidebar-menu",
        "name": "Menu",
        "settings": [
          {
            "id": "title",
            "label": "Title",
            "type": "text"
          },
          {
            "id": "menu",
            "label": "Menu",
            "type": "menu"
          }
        ]
      }
    ],
    "max_blocks": 10,
    "important": true,
    "unique": true
  }
{% endschema %}
