{{ "date-picker.css" | asset_url | stylesheet_tag }}

{%- assign title                 = section.settings.title -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign primary_background    = section.settings.primary_background -%}
{%- assign primary_foreground    = section.settings.primary_foreground -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- if primary_background != blank -%}
    --color-primary-foreground: {{ primary_background }};
    --color-primary-background-rgb-60: {{ primary_foreground | append: "99" }};
  {%- endif -%}
  {%- if primary_foreground != blank -%}
    --color-primary-background: {{ primary_foreground }};
  {%- endif -%}

  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 8px;
    {%- when 'medium' -%}
      --padding-top: 16px;
    {%- when 'large' -%}
      --padding-top: 24px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 8px;
    {%- when 'medium' -%}
      --padding-bottom: 16px;
    {%- when 'large' -%}
      --padding-bottom: 24px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 8px;
    {%- when 'medium' -%}
      --padding-top-mobile: 16px;
    {%- when 'large' -%}
      --padding-top-mobile: 24px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 8px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 16px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 24px;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

<div class="date-location__wrapper" style="{{- variables | escape -}}">
  <div class="date-location__container container{% if padding_top != blank or padding_top_mobile != blank %} date-location__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} date-location__container--padding-bottom{%- endif -%}">
    {%- if title != blank -%}
      <h2 class="date-location__title">
        <span class="date-location__icon">
          {%- render 'icon-arrow-right-full' -%}
        </span>
        {{- title -}}
      </h2>
    {%- endif -%}

    <bq-date-picker data-primary-color="{{ settings.primary_color }}"></bq-date-picker>
  </div>
</div>

{% schema %}
  {
    "name": "Date Picker",
    "description": "Allow your visitors to select a rental period.",
    "tag": "section",
    "class": "date-location",
    "settings": [
      {
        "type": "header",
        "content": "Basic settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Check availability:"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
        },
      {
        "type": "header",
        "content": "Advanced settings"
      },
      {
        "type": "color",
        "id": "primary_background",
        "label": "Background color",
        "info": "Note: This color always overrides the default color, and is applied to this section only"
      },
      {
        "type": "color",
        "id": "primary_foreground",
        "label": "Foreground color",
        "info": "Note: This color always overrides the default color, and is applied to this section only"
      }
    ]
  }
{% endschema %}
