<link rel="preload" href="{{ 'header.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'mega-menu.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{%- assign search_placeholder    = section.settings.search_placeholder -%}
{%- assign login_placeholder     = section.settings.login_placeholder -%}
{%- assign signup_placeholder    = section.settings.signup_placeholder -%}
{%- assign menu_back_placeholder = section.settings.menu_back_placeholder -%}
{%- assign logo                  = section.settings.logo -%}
{%- assign custom_title          = section.settings.custom_title -%}
{%- assign menu_opener_mobile    = section.settings.menu_opener_mobile -%}
{%- assign menu                  = section.settings.menu -%}
{%- assign menu_dropdown_style   = section.settings.menu_dropdown_style -%}
{%- assign menu_position         = section.settings.menu_position -%}
{%- assign menu_position_mobile  = section.settings.menu_position_mobile -%}
{%- assign header_background     = section.settings.header_background -%}
{%- assign header_foreground     = section.settings.header_foreground -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign sticky_header         = section.settings.sticky_header -%}

{% comment %} CSS variables {% endcomment %}
{%- capture variables -%}
  --color-header-background: {{ header_background }};
  --color-header-foreground: {{ header_foreground }};
  --padding-top: {{ padding_top }}px;
  --padding-bottom: {{ padding_bottom }}px;
  --padding-top-mobile: {{ padding_top_mobile }}px;
  --padding-bottom-mobile: {{ padding_bottom_mobile }}px;

  {%- case menu_position -%}
    {%- when 'left' -%}
      --header-justify-content: flex-start;
    {%- when 'left-center' -%}
      --header-justify-content: center;
    {%- when 'left-right' -%}
      --header-justify-content: flex-end;
    {%- when 'left-below' -%}
      --header-justify-content: flex-start;
    {%- when 'center-left' -%}
      --header-justify-content: flex-start;
  {%- endcase -%}

  {%- case menu_position_mobile -%}
    {%- when 'left' -%}
      --menu-transform: translate(-100%, 0);
      --menu-width: 0;
      --menu-left: 0;
      --menu-right: auto;
      --menu-max-height: none;
    {%- when 'right' -%}
      --menu-transform: translate(100%, 0);
      --menu-width: 0;
      --menu-left: auto;
      --menu-right: 0;
      --menu-max-height: none;
    {%- when 'top' -%}
      --menu-transform: translate(0, -100%);
      --menu-width: 100%;
      --menu-left: 0;
      --menu-right: 0;
      --menu-max-height: 0;
  {%- endcase -%}
{%- endcapture -%}

{% comment %} Logo component {% endcomment %}
{%- capture header_logo -%}
  {%- if logo.url != blank -%}
    <div class="header__logo-wrapper">
      <a href="{{ routes.root_url }}" class="header__logo">
        <img
          src="{{ logo | image_url: 'master' }}"
          alt="{{ shop.name }}"
          class="header__logo-image"
        >
      </a>
    </div>
  {%- elsif custom_title != blank -%}
    <div class="header__logo-wrapper">
      <a href="{{ routes.root_url }}" class="header__logo">
        <h2 class="header__logo-text">
          {{- custom_title -}}
        </h2>
      </a>
    </div>
  {%- elsif shop.logo_url != blank -%}
    <div class="header__logo-wrapper">
      <a href="{{ routes.root_url }}" class="header__logo">
        <img
          src="{{ shop.logo_url }}"
          alt="{{ shop.name }}"
          class="header__logo-image"
        >
      </a>
    </div>
  {%- else -%}
    <div class="header__logo-wrapper">
      <a href="{{ routes.root_url }}" class="header__logo">
        <h2 class="header__logo-text">
          {{- shop.name -}}
        </h2>
      </a>
    </div>
  {%- endif -%}
{%- endcapture -%}

{% comment %} Login buttons component {% endcomment %}
{%- capture header_login -%}
  <div class="header__login">
    <div class="header__login-item">
      <a href="" class="header__login-button">
        {%- include 'icon-user' -%}
        {{- login_placeholder -}}
      </a>
    </div>
    <div class="header__login-item">
      <a href="" class="header__login-button text-accent">{{- signup_placeholder -}}</a>
    </div>
  </div>
{%- endcapture -%}

{% comment %} Mobile menu bottom component {% endcomment %}
{%- capture menu_bottom -%}
  <div class="menu__bottom">
    {{- header_login -}}

    <div class="menu__icons">
      {%- for block in section.blocks -%}
        {%- assign social_size      = block.settings.social_size -%}
        {%- assign social_spacing   = block.settings.social_spacing -%}
        {%- assign payment_size     = block.settings.payment_size -%}
        {%- assign payment_spacing  = block.settings.payment_spacing -%}

        {% comment %} CSS variables {% endcomment %}
        {%- capture social_variables -%}
          {%- case social_size -%}
            {%- when 'sm' -%}
              --header-social-size: 18px;
            {%- when 'md' -%}
              --header-social-size: 21px;
            {%- when 'lg' -%}
              --header-social-size: 24px;
          {%- endcase -%}

          {%- case social_spacing -%}
            {%- when 'sm' -%}
              --header-social-spacing: 5px;
            {%- when 'md' -%}
              --header-social-spacing: 7px;
            {%- when 'lg' -%}
              --header-social-spacing: 9px;
          {%- endcase -%}
        {%- endcapture -%}

        {%- capture payment_variables -%}
          {%- case payment_size -%}
            {%- when 'sm' -%}
              --header-payment-size: 30px;
            {%- when 'md' -%}
              --header-payment-size: 32px;
            {%- when 'lg' -%}
              --header-payment-size: 34px;
          {%- endcase -%}

          {%- case payment_spacing -%}
            {%- when 'sm' -%}
              --header-payment-spacing: 2px;
            {%- when 'md' -%}
              --header-payment-spacing: 3px;
            {%- when 'lg' -%}
              --header-payment-spacing: 4px;
          {%- endcase -%}
        {%- endcapture -%}

        {%- case block.type -%}

          {%- when "socials" -%}
            <div class="menu__social" style="{{- social_variables | escape -}}">
              {%- include "socials" -%}
            </div>

          {%- when "payment-methods" -%}
            <div class="menu__payments payments" style="{{- payment_variables | escape -}}">
              {%- include "payments" -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
{%- endcapture -%}

{% comment %} Menu component {% endcomment %}
{%- if menu != blank -%}
  {%- capture header_menu -%}
    <div class="header__nav-wrapper">
      <input type="checkbox" id="mobile-menu-trigger" style="display: none;">
      <label for="mobile-menu-trigger" class="menu__opener">
        <span></span>
      </label>

      <nav class="header__nav menu{% if menu_dropdown_style == "full" %} menu-wide{% endif %}{% if menu_position_mobile == "top" %} mobile-menu-top{%- endif -%}" style="display: none;">
        <div class="menu__wrapper">
          <ul class="header__nav-list menu__list">
            {%- for link in menu.items -%}
              {%- assign link_index = forloop.index -%}

              {%- if link != blank -%}
                <li class="menu__item">

                  {%- if link.items_count > 0 -%}
                    <input type="checkbox" id="dropdown-menu-trigger-{{- link_index -}}" style="display: none;">
                    <label for="dropdown-menu-trigger-{{- link_index -}}" class="menu__dropdown-opener">
                      <i class="menu__item-icon">
                        {%- include 'icon-arrow-down' -%}
                      </i>
                    </label>
                  {%- endif -%}

                  <a href="{{ link.url }}" class="menu__link">
                    {{- link.title -}}
                  </a>

                  {%- if link.items_count > 0 -%}
                    <div class="menu__dropdown" style="display: none;">
                      <div class="menu__dropdown-wrapper">

                        {%- unless menu_position_mobile == "top" -%}
                          <label for="dropdown-menu-trigger-{{- link_index -}}" class="menu__dropdown-opener">
                            <i class="menu__item-icon">
                              {%- include 'icon-arrow-down' -%}
                            </i>
                            {{- menu_back_placeholder -}}
                          </label>
                        {%- endunless -%}

                        <ul class="menu__dropdown-list">
                          {%- for childlink in link.items -%}
                            {%- assign childlink_index = forloop.index -%}
                            {%- assign link_name = childlink.title | downcase | strip -%}

                            {%- if childlink != blank -%}
                              <li class="menu__dropdown-item">

                                {%- for block in section.blocks -%}
                                  {%- assign promo_title        = block.settings.promo_title | downcase | strip -%}

                                  {%- if promo_title == link_name -%}
                                    {%- assign promo_image      = block.settings.promo_image -%}
                                    {%- assign promo_product    = block.settings.promo_product -%}
                                    {%- assign promo_collection = block.settings.promo_collection -%}

                                    {%- case block.type -%}
                                      {%- when "promo" -%}

                                        <div class="menu__dropdown-promo">
                                          <div class="menu__dropdown-promo-wrapper">
                                            {%- if promo_product != blank -%}
                                              {%- assign promo_image  = promo_product.images.first -%}

                                                <div id="{{ promo_product.id }}" class="menu__dropdown-promo-product">
                                                  <a href="{{ promo_product.url }}" class="menu__dropdown-promo-image-link">
                                                    {% if promo_image != blank %}
                                                      {{ promo_image.url | image_tag:
                                                        loading: 'lazy',
                                                        class: 'menu__dropdown-promo-image',
                                                        widths: '320',
                                                        sizes: '320px',
                                                        alt: promo_product.name
                                                      }}
                                                    {% endif %}
                                                  </a>
                                                </div>
                                            {%- elsif promo_collection != blank -%}
                                              <div class="menu__dropdown-promo-collection">
                                                  {%- include 'product-card' -%}
                                              </div>
                                            {%- else -%}
                                              {{ promo_image.url | image_tag:
                                                loading: 'lazy',
                                                class: 'menu__dropdown-promo-image',
                                                widths: '320',
                                                sizes: '320px',
                                                alt: promo_product.name
                                              }}
                                            {%- endif -%}
                                          </div>
                                        </div>

                                    {%- endcase -%}
                                  {%- endif -%}
                                {%- endfor -%}

                                {%- if childlink.items_count > 0 -%}
                                  <input type="checkbox" id="dropdown-childmenu-trigger-{{- link_index -}}-{{- childlink_index -}}" style="display: none;">
                                  <label for="dropdown-childmenu-trigger-{{- link_index -}}-{{- childlink_index -}}" class="menu__dropdown-opener">
                                    <i class="menu__item-icon">
                                      {%- include 'icon-arrow-down' -%}
                                    </i>
                                  </label>
                                {%- endif -%}

                                <a href="{{ childlink.url }}" class="menu__dropdown-link">
                                  {{- childlink.title -}}
                                </a>

                                {%- if childlink.items_count > 0 -%}
                                  <div class="menu__dropdown">
                                    <div class="menu__dropdown-wrapper">

                                      {%- unless menu_position_mobile == "top" -%}
                                        <label for="dropdown-childmenu-trigger-{{- link_index -}}-{{- childlink_index -}}" class="menu__dropdown-opener">
                                          <i class="menu__item-icon">
                                            {%- include 'icon-arrow-down' -%}
                                          </i>
                                          {{- menu_back_placeholder -}}
                                        </label>
                                      {%- endunless -%}

                                      <ul class="menu__dropdown-list">
                                        {%- for grandchildlink in childlink.items -%}

                                          {%- if grandchildlink != blank -%}
                                            <li class="menu__dropdown-item">
                                              <a href="{{ grandchildlink.url }}" class="menu__dropdown-link">
                                                {{- grandchildlink.title -}}
                                              </a>
                                            </li>
                                          {%- endif -%}

                                        {%- endfor -%}
                                      </ul>

                                    </div>
                                  </div>
                                {%- endif -%}

                              </li>
                            {%- endif -%}

                          {%- endfor -%}
                        </ul>
                      </div>
                    </div>
                  {%- endif -%}

                </li>
              {%- endif -%}

            {%- endfor -%}
          </ul>

          {{- menu_bottom -}}
        </div>
      </nav>
    </div>
  {%- endcapture -%}
{%- endif -%}

{% comment %} Search component {% endcomment %}
{%- capture header_search -%}
  <div class="header__search">
    <input type="checkbox" id="floating-search" style="display: none">
    <label for="floating-search" class="header__search-trigger">
      {%- include 'icon-search' -%}
    </label>

    <div class="header__search-wrapper" style="display: none">
      <form id="search" action="{{ routes.search_url }}" role="search">
        <div class="header__search-input-wrapper">
          <i class="header__search-icon">
            {%- include 'icon-search' -%}
          </i>
          <input type="search" name="q" class="header__search-input" placeholder="{{- search_placeholder -}}">
        </div>
        <label class="header__search-trigger" for="floating-search"></label>
      </form>
    </div>
  </div>
{%- endcapture -%}

{% comment %} Account component {% endcomment %}
{%- capture header_account -%}
  <div class="header__account">
    <input type="checkbox" id="account-opener" style="display: none">
    <label for="account-opener" class="header__account-opener">
      {%- include 'icon-user' -%}
    </label>
    <div class="header__account-drop-wrapper">
      <div class="header__account-drop">
        <a href="" class="header__account-link">
          {{- login_placeholder -}}
        </a>
        <a href="" class="header__account-link">
          {{- signup_placeholder -}}
        </a>
      </div>
    </div>
  </div>
{%- endcapture -%}

{% comment %} Right side buttons component {% endcomment %}
{%- capture header_links -%}
  <div class="header__links">
    {{- header_search -}}

    {{- header_account -}}

    <div class="header__cart">
      {{- cart_button -}}

      <i class="fa-regular fa-spinner-third fa-spin"></i>
    </div>
  </div>
{%- endcapture -%}

<div class="header__inner{% if header_background != blank %} header-background{% endif %}{% if header_foreground != blank %} header-color{% endif %}{% if menu_position == 'center-left' %} header-logo-centered{%- endif -%}{% if menu_position == 'left-below' %} header-menu-bottom{%- endif -%}" style="{{- variables | escape -}}">
  <div class="header__content{% if padding_top != 0 or padding_top_mobile != 0 %} header__content--padding-top{% endif %}{% if padding_bottom != 0 or padding_bottom_mobile != 0 %} header__content--padding-bottom{%- endif -%}">
    <div class="header__container container">
      <div class="header__content-inner{% if menu != blank %} header__mobile-menu-opener-{{- menu_opener_mobile -}}{%- endif -%}">

        {{- header_logo -}}

        {{- header_menu -}}

        {{- header_links -}}

      </div>
    </div>
  </div>
</div>

{%- if sticky_header -%}
  <script>
    const header = document.querySelector('.header');
    header.classList.add('header--sticky')
  </script>
{%- endif -%}

{% schema %}
  {
    "name": "Header",
    "tag": "section",
    "class": "header__wrapper",
    "blocks":[
      {
        "type": "promo",
        "name": "Promo block",
        "settings":[
          {
            "type": "header",
            "content": "Promo content"
          },
          {
            "type": "text",
            "id": "promo_title",
            "label": "Promo title",
            "default": "Catalog 1.4",
            "info": "Note: IMPORTANT! This title should be equal to the name of a menu item, that has to display a promo block"
          },
          {
            "type": "product",
            "id": "promo_product",
            "label": "Product",
            "info": "Note: The product takes precedence over \"Collection\""
          },
          {
            "type": "collection",
            "id": "promo_collection",
            "label": "Collection",
            "info": "Note: The collection takes precedence over \"Image\""
          },
          {
            "type": "image_picker",
            "id": "promo_image",
            "label": "Image",
            "info": "Note: The image has the lowest priority"
          }
        ]
      },
      {
        "type": "socials",
        "name": "Socials",
        "limit": 1,
        "settings":[
          {
            "type": "header",
            "content": "Icon settings"
          },
          {
            "type": "select",
            "id": "social_size",
            "label": "Size",
            "options": [
              {
                "value": "sm",
                "label": "Small"
              },
              {
                "value": "md",
                "label": "Medium"
              },
              {
                "value": "lg",
                "label": "Large"
              }
            ],
            "default": "md"
          },
          {
            "type": "select",
            "id": "social_spacing",
            "label": "Spacing",
            "options": [
              {
                "value": "sm",
                "label": "Small"
              },
              {
                "value": "md",
                "label": "Medium"
              },
              {
                "value": "lg",
                "label": "Large"
              }
            ],
            "default": "lg"
          }
        ]
      },
      {
        "type": "payment-methods",
        "name": "Payment methods",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Icon settings"
          },
          {
            "type": "select",
            "id": "payment_size",
            "label": "Size",
            "options": [
              {
                "value": "sm",
                "label": "Small"
              },
              {
                "value": "md",
                "label": "Medium"
              },
              {
                "value": "lg",
                "label": "Large"
              }
            ],
            "default": "md"
          },
          {
            "type": "select",
            "id": "payment_spacing",
            "label": "Spacing",
            "options": [
              {
                "value": "sm",
                "label": "Small"
              },
              {
                "value": "md",
                "label": "Medium"
              },
              {
                "value": "lg",
                "label": "Large"
              }
            ],
            "default": "md"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Translations"
      },
      {
        "type": "text",
        "id": "search_placeholder",
        "label": "Search placeholder",
        "default": "Search"
      },
      {
        "type": "text",
        "id": "login_placeholder",
        "label": "Login button label",
        "default": "Log in"
      },
      {
        "type": "text",
        "id": "signup_placeholder",
        "label": "Create account button label",
        "default": "Create account"
      },
      {
        "type": "text",
        "id": "menu_back_placeholder",
        "label": "Button 'Back' label",
        "info": "Note: This button is in the mobile dropdown menu in 'From left' or 'From right' menu appearance mode",
        "default": "Back"
      },
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "checkbox",
        "id": "sticky_header",
        "default": true,
        "label": "Sticky header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "custom_title",
        "label": "Custom title",
        "description": "Note: Header logo always overrides this title"
      },
      {
        "type": "color",
        "id": "header_background",
        "label": "Background color",
        "info": "Note: This color always overrides the default color, and is applied to this section only"
      },
      {
        "type": "color",
        "id": "header_foreground",
        "label": "Foreground color",
        "info": "Note: This color always overrides the default color, and is applied to this section only"
      },
      {
        "type": "menu",
        "id": "menu",
        "label": "Mega menu"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "menu_position",
        "label": "Menu position",
        "options": [
          {
            "value": "left",
            "label": "Logo left / Menu left"
          },
          {
            "value": "left-center",
            "label": "Logo left / Menu center"
          },
          {
            "value": "left-right",
            "label": "Logo left / Menu right"
          },
          {
            "value": "left-below",
            "label": "Logo left / Menu below"
          },
          {
            "value": "center-left",
            "label": "Logo center / Menu left"
          }
        ],
        "default": "left-center"
      },
      {
        "type": "select",
        "id": "menu_dropdown_style",
        "label": "Dropdown menu style",
        "options": [
          {
            "value": "short",
            "label": "Short menu"
          },
          {
            "value": "full",
            "label": "Full width menu"
          }
        ],
        "default": "full"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "Padding top",
        "default": "16",
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "default": "12",
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "menu_opener_mobile",
        "label": "Menu opener position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "menu_position_mobile",
        "label": "Menu appearance",
        "options": [
          {
            "value": "top",
            "label": "From top"
          },
          {
            "value": "right",
            "label": "From right"
          },
          {
            "value": "left",
            "label": "From left"
          }
        ],
        "default": "top"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "default": "16",
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "default": "16",
        "info": "Note: Use positive numbers only"
      }
    ]
  }
{% endschema %}
