{%- assign blocks = section.blocks -%}

{%- if blocks.size > 0 -%}
  <link rel="preload" href="{{ 'hero.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

  {%- assign limit                 = section.settings.limit -%}
  {%- assign show_navigation       = section.settings.show_navigation -%}
  {%- assign show_pagination       = section.settings.show_pagination -%}
  {%- assign show_counter          = section.settings.show_counter -%}
  {%- assign padding_top           = section.settings.padding_top -%}
  {%- assign padding_bottom        = section.settings.padding_bottom -%}
  {%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
  {%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
  {%- assign ui_color              = section.settings.ui_color -%}
  {%- assign timer                 = section.settings.timer -%}

  {%- assign carousel = false -%}

  {%- if blocks.size > 1 -%}
    <link rel="preload" href="{{ 'carousel.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

    {%- assign carousel = true -%}
  {%- endif -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- if padding_top != blank -%}
      --padding-top: {{ padding_top }}px;
    {%- endif -%}
    {%- if padding_bottom != blank -%}
      --padding-bottom: {{ padding_bottom }}px;
    {%- endif -%}
    {%- if padding_top_mobile != blank -%}
      --padding-top-mobile: {{ padding_top_mobile }}px;
    {%- endif -%}
    {%- if padding_bottom_mobile != blank -%}
      --padding-bottom-mobile: {{ padding_bottom_mobile }}px;
    {%- endif -%}
    {%- if ui_color != blank -%}
      --ui-color: {{ ui_color }};
    {%- endif -%}
    {%- if carousel -%}
      --slide-width: 100%;
      --slide-width-mobile: 100%;
    {%- endif -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  <div class="hero__wrapper" style="{{- variables | escape -}}">
    <div class="hero__banner{% if carousel %} carousel{%- endif -%}" aria-label="Gallery">
      {%- if carousel -%}
        <input class="carousel__timer" type="hidden" name="hidden" id="timer-{{- section.key -}}" value="{{- timer -}}">
      {%- endif -%}
        <div class="hero__banner-wrapper{% if carousel %} carousel__wrapper{%- endif -%}">

          {%- for block in blocks limit: limit -%}
            {%- assign title                = block.settings.title -%}
            {%- assign description          = block.settings.description -%}
            {%- assign button_1             = block.settings.button_1 -%}
            {%- assign button_url_1         = block.settings.button_url_1 -%}
            {%- assign button_2             = block.settings.button_2 -%}
            {%- assign button_url_2         = block.settings.button_url_2 -%}
            {%- assign text_position        = block.settings.text_position -%}
            {%- assign text_position_mobile = block.settings.text_position_mobile -%}
            {%- assign video_url            = block.settings.video_url | strip -%}
            {%- assign image                = block.settings.image -%}
            {%- assign image_mobile         = block.settings.image_mobile -%}
            {%- assign background           = block.settings.background -%}
            {%- assign color                = block.settings.color -%}
            {%- assign title_color          = block.settings.title_color -%}
            {%- assign show_overlay         = block.settings.show_overlay -%}
            {%- assign overlay_opacity      = block.settings.overlay_opacity -%}

            {% comment %} CSS variables start {% endcomment %}
            {%- capture text_variables -%}
              {%- if color != blank -%}
                --color-third-foreground: {{ color }};
              {%- endif -%}
              {%- if title_color != blank -%}
                --title-color: {{ title_color }};
              {%- endif -%}

              {%- case text_position -%}
                {%- when 'top-left' -%}
                  --text-justify-content: flex-start;
                  --text-align-items: flex-start;
                  --text-align: left;
                  --text-hero-width: 400px;
                  --text-padding-bottom: 0;
                  --margin-left: 0;
                  --margin-right: auto;
                {%- when 'top-center' -%}
                  --text-justify-content: center;
                  --text-align-items: flex-start;
                  --text-align: center;
                  --text-hero-width: none;
                  --text-padding-bottom: 0;
                  --margin-left: auto;
                  --margin-right: auto;
                {%- when 'top-right' -%}
                  --text-justify-content: flex-end;
                  --text-align-items: flex-start;
                  --text-align: right;
                  --text-hero-width: 400px;
                  --text-padding-bottom: 0;
                  --margin-left: auto;
                  --margin-right: 0;
                {%- when 'middle-left' -%}
                  --text-justify-content: flex-start;
                  --text-align-items: center;
                  --text-align: left;
                  --text-hero-width: 400px;
                  --text-padding-bottom: 42px;
                  --margin-left: 0;
                  --margin-right: auto;
                {%- when 'center' -%}
                  --text-justify-content: center;
                  --text-align-items: center;
                  --text-align: center;
                  --text-hero-width: none;
                  --text-padding-bottom: 42px;
                  --margin-left: auto;
                  --margin-right: auto;
                {%- when 'middle-right' -%}
                  --text-justify-content: flex-end;
                  --text-align-items: center;
                  --text-align: right;
                  --text-hero-width: 400px;
                  --text-padding-bottom: 42px;
                  --margin-left: auto;
                  --margin-right: 0;
                {%- when 'bottom-left' -%}
                  --text-justify-content: flex-start;
                  --text-align-items: flex-end;
                  --text-align: left;
                  --text-hero-width: 400px;
                  --text-padding-bottom: 0;
                  --margin-left: 0;
                  --margin-right: auto;
                {%- when 'bottom-center' -%}
                  --text-justify-content: center;
                  --text-align-items: flex-end;
                  --text-align: center;
                  --text-hero-width: none;
                  --text-padding-bottom: 0;
                  --margin-left: auto;
                  --margin-right: auto;
                {%- when 'bottom-right' -%}
                  --text-justify-content: flex-end;
                  --text-align-items: flex-end;
                  --text-align: right;
                  --text-hero-width: 400px;
                  --text-padding-bottom: 0;
                  --margin-left: auto;
                  --margin-right: 0;
              {%- endcase -%}

              {%- case text_position_mobile -%}
                {%- when 'top-left' -%}
                  --text-justify-content-mobile: flex-start;
                  --text-align-items-mobile: flex-start;
                  --text-align-mobile: left;
                  --text-hero-width-mobile: 400px;
                  --text-padding-bottom-mobile: 0;
                  --margin-left-mobile: 0;
                  --margin-right-mobile: auto;
                {%- when 'top-center' -%}
                  --text-justify-content-mobile: center;
                  --text-align-items-mobile: flex-start;
                  --text-align-mobile: center;
                  --text-hero-width-mobile: none;
                  --text-padding-bottom-mobile: 0;
                  --margin-left-mobile: auto;
                  --margin-right-mobile: auto;
                {%- when 'top-right' -%}
                  --text-justify-content-mobile: flex-end;
                  --text-align-items-mobile: flex-start;
                  --text-align-mobile: right;
                  --text-hero-width-mobile: 400px;
                  --text-padding-bottom-mobile: 0;
                  --margin-left-mobile: auto;
                  --margin-right-mobile: 0;
                {%- when 'middle-left' -%}
                  --text-justify-content-mobile: flex-start;
                  --text-align-items-mobile: center;
                  --text-align-mobile: left;
                  --text-hero-width-mobile: 400px;
                  --text-padding-bottom-mobile: 36px;
                  --margin-left-mobile: 0;
                  --margin-right-mobile: auto;
                {%- when 'center' -%}
                  --text-justify-content-mobile: center;
                  --text-align-items-mobile: center;
                  --text-align-mobile: center;
                  --text-hero-width-mobile: none;
                  --text-padding-bottom-mobile: 36px;
                  --margin-left-mobile: auto;
                  --margin-right-mobile: auto;
                {%- when 'middle-right' -%}
                  --text-justify-content-mobile: flex-end;
                  --text-align-items-mobile: center;
                  --text-align-mobile: right;
                  --text-hero-width-mobile: 400px;
                  --text-padding-bottom-mobile: 36px;
                  --margin-left-mobile: auto;
                  --margin-right-mobile: 0;
                {%- when 'bottom-left' -%}
                  --text-justify-content-mobile: flex-start;
                  --text-align-items-mobile: flex-end;
                  --text-align-mobile: left;
                  --text-hero-width-mobile: 400px;
                  --text-padding-bottom-mobile: 0;
                  --margin-left-mobile: 0;
                  --margin-right-mobile: auto;
                {%- when 'bottom-center' -%}
                  --text-justify-content-mobile: center;
                  --text-align-items-mobile: flex-end;
                  --text-align-mobile: center;
                  --text-hero-width-mobile: none;
                  --text-padding-bottom-mobile: 0;
                  --margin-left-mobile: auto;
                  --margin-right-mobile: auto;
                {%- when 'bottom-right' -%}
                  --text-justify-content-mobile: flex-end;
                  --text-align-items-mobile: flex-end;
                  --text-align-mobile: right;
                  --text-hero-width-mobile: 400px;
                  --text-padding-bottom-mobile: 0;
                  --margin-left-mobile: auto;
                  --margin-right-mobile: 0;
              {%- endcase -%}
            {%- endcapture -%}

            {%- capture image_variables -%}
              {%- if background != blank -%}
                --color-primary-foreground: {{ background }};
              {%- endif -%}
              {%- if overlay_opacity != blank -%}
                --opacity-overlay: {{ overlay_opacity }}%;
              {%- endif -%}
            {%- endcapture -%}
            {% comment %} CSS variables end {% endcomment %}

            {%- if carousel -%}
              <div class="carousel__item">
                <div class="carousel__inner">
            {%- endif -%}
                  <div class="hero__inner">
                    <div
                      class="hero__container container{% if padding_top != blank or padding_top_mobile != blank %} hero__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} hero__container--padding-bottom{%- endif -%}"
                      style="{{- text_variables | escape -}}"
                    >
                      <div class="hero__text-area">
                        <div class="hero__content">
                          {%- if title != blank -%}
                            <h1 class="hero__title">{{- title -}}</h1>
                          {%- endif -%}

                          {%- if description != blank -%}
                            <div class="hero__description text-medium">{{- description -}}</div>
                          {%- endif -%}

                          {%- if button_1 != blank and button_url_1 != blank or button_2 != blank and button_url_2 != blank -%}
                            <div class="hero__buttons">
                              {%- if button_1 != blank and button_url_1 != blank -%}
                                <a href="{{  button_url_1 }}" class="hero__button button button--primary button--large">{{- button_1 -}}</a>
                              {%- endif -%}

                              {%- if button_2 != blank and button_url_2 != blank -%}
                                <a href="{{  button_url_2 }}" class="hero__button button button--outlined button--large">{{- button_2 -}}</a>
                              {%- endif -%}
                            </div>
                          {%- endif -%}

                        </div>
                      </div>
                    </div>

                    <div class="hero__vision" style="{{- image_variables | escape -}}">
                      {%- if video_url contains "youtube.com" -%}
                        {%- assign video_drop = video_url | split: "?v=" -%}
                        {%- assign video_id   = video_drop | last | strip -%}

                        <div class="hero__vision-wrapper{%  if show_overlay %} hero__vision-wrapper--overlay{%- endif -%}">
                          <input id="video-{{- block.id -}}" value="{{- video_id -}}" class="hero__video-id" type="hidden" name="hidden">
                          <div id="player-{{- block.id -}}" class="hero__video"></div>
                        </div>

                      {%- elsif video_url contains "vimeo.com" -%}
                        {%- assign video_drop = video_url | split: "/" -%}
                        {%- assign video_id   = video_drop | last | strip -%}

                        <div class="hero__vision-wrapper{%if show_overlay %} hero__vision-wrapper--overlay{%- endif -%}">
                          <iframe
                            class="hero__video"
                            src="https://player.vimeo.com/video/{{- video_id -}}?autoplay=1&muted=1&loop=1&autopause=0&controls=0&background=1"
                            width="988"
                            height="556"
                            frameborder="0"
                            allow="autoplay; fullscreen"
                            allowfullscreen
                            autoplay
                            muted
                            loop
                          ></iframe>
                        </div>

                      {%- elsif image != blank or image_mobile != blank -%}
                        {%- if image != blank -%}
                          <div class="hero__vision-wrapper{% if image_mobile != blank %} hero__vision-wrapper--desktop{% endif %}{%if show_overlay %} hero__vision-wrapper--overlay{%- endif -%}">
                            {{ image.url | image_tag:
                              loading: 'lazy',
                              class: 'hero__image',
                              widths: '990, 1400, 1900, 2500'
                            }}
                          </div>
                        {%- endif -%}

                        {%- if image_mobile != blank -%}
                          <div class="hero__vision-wrapper hero__vision-wrapper--mobile{%if show_overlay %} hero__vision-wrapper--overlay{%- endif -%}">
                            {{ image_mobile.url | image_tag:
                              loading: 'lazy',
                              class: 'hero__image',
                              widths: '320, 480, 567'
                            }}
                          </div>
                        {%- endif -%}
                      {%- endif -%}
                    </div>
                  </div>
            {%- if carousel -%}
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>

        {%- if carousel -%}
          {%- if show_navigation -%}
            <div class="carousel__navigation" aria-label="Carousel navigation" aria-hidden="true">
              <span class="carousel__button prev" title="Prev slide">
                Previous slide
                {%- include 'icon-arrow-right' -%}
              </span>
              <span class="carousel__button next" title="Next slide">
                Next slide
                {%- include 'icon-arrow-right' -%}
              </span>
            </div>
          {%- endif -%}

          {%- if show_pagination -%}
            <div class="carousel__pagination" aria-label="Carousel pagination" aria-hidden="true">
              {%- for block in blocks limit: limit -%}
                {%- assign first = forloop.first -%}
                {%- assign index = forloop.index -%}

                <span class="carousel__bullet{% if first %} active{%- endif -%}" data-index="{{- index -}}" title="Jump to slide {{ index -}}">
                  Go to slide {{ index -}}
                </span>
              {%- endfor -%}
            </div>
          {%- endif -%}

          {%- if show_counter -%}
            <div class="carousel__counter">
              {%- for block in blocks limit: limit) -%}
                {%- assign length = forloop.length -%}
              {%- endfor -%}

              <span class="carousel__count">{%- if length < 10 -%}0{%- endif -%}1</span>
              <span class="carousel__divider">|</span>
              <span class="carousel__summary">{%- if length < 10 -%}0{%- endif -%}{{- length -}}</span>
            </div>
          {%- endif -%}
        {%- endif -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "class": "hero",
    "description": "Display a slider with content and background image",
    "blocks":[
      {
        "type": "slide",
        "id": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "header",
            "content": "Text settings"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Rent heavy equipment"
          },
          {
            "type": "contentEditor",
            "id": "description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
          },
          {
            "type": "paragraph",
            "content": "Button #1 settings"
          },
          {
            "type": "text",
            "id": "button_1",
            "label": "Label",
            "default": "Check out products"
          },
          {
            "type": "url",
            "id": "button_url_1",
            "label": "Button #1 URL"
          },
          {
            "type": "paragraph",
            "content": "Button #2 settings"
          },
          {
            "type": "text",
            "id": "button_2",
            "label": "Label",
            "default": "More info"
          },
          {
            "type": "url",
            "id": "button_url_2",
            "label": "Button #2 URL"
          },
          {
            "type": "header",
            "content": "Colors settings"
          },
          {
            "type": "color",
            "id": "background",
            "label": "Background color",
            "info": "Note: This color always overrides the default color, and is applied to this section only"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Foreground color",
            "info": "Note: This color always overrides the default color, and is applied to this section only"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "info": "Note: This color always overrides the default color, and is applied to this section only"
          },
          {
            "type": "header",
            "content": "Video settings"
          },
          {
            "type": "paragraph",
            "content": "Note: This feature works with Youtube and Vimeo videos only. URL must be copied from Youtube or Vimeo video page and pasted and created a new link in the field below. Preferable video's dimension 16:9. For better page performance the video mustn't be too heavy. For example: https://www.youtube.com/watch?v=QAUzWtLMnU0 or https://vimeo.com/43652787"
          },
          {
            "type": "url",
            "id": "video_url",
            "label": "URL to video"
          },
          {
            "type": "paragraph",
            "content": "Note: The video takes precedence over 'Image' and only this one will be displaying on both desktop and mobile"
          },
          {
            "type": "header",
            "content": "Overlay settings"
          },
          {
            "type": "checkbox",
            "id": "show_overlay",
            "default": true,
            "label": "Show overlay"
          },
          {
            "type": "number",
            "id": "overlay_opacity",
            "label": "Overlay opacity",
            "min": 0,
            "max": 100,
            "default": 100,
            "info": "Note: Use positive numbers only"
          },
          {
            "type": "header",
            "content": "Desktop settings"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Text positioning",
            "options": [
              {
                "value": "top-left",
                "label": "Top / Left"
              },
              {
                "value": "top-center",
                "label": "Top / Center"
              },
              {
                "value": "top-right",
                "label": "Top / Right"
              },
              {
                "value": "middle-left",
                "label": "Middle / Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "middle-right",
                "label": "Middle / Right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom / Left"
              },
              {
                "value": "bottom-center",
                "label": "Bottom / Center"
              },
              {
                "value": "bottom-right",
                "label": "Bottom / Right"
              }
            ],
            "default": "middle-left"
          },
          {
            "type": "image_picker",
            "id": "image",
            "info": "Note: The image has the lowest priority",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Mobile settings"
          },
          {
            "type": "select",
            "id": "text_position_mobile",
            "label": "Text positioning",
            "options": [
              {
                "value": "top-left",
                "label": "Top / Left"
              },
              {
                "value": "top-center",
                "label": "Top / Center"
              },
              {
                "value": "top-right",
                "label": "Top / Right"
              },
              {
                "value": "middle-left",
                "label": "Middle / Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "middle-right",
                "label": "Middle / Right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom / Left"
              },
              {
                "value": "bottom-center",
                "label": "Bottom / Center"
              },
              {
                "value": "bottom-right",
                "label": "Bottom / Right"
              }
            ],
            "default": "top-left"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "info": "Note: The image has the lowest priority",
            "label": "Image"
          }
        ]
      }
    ],
    "max_blocks": 8,
    "settings": [
      {
        "type": "header",
        "content": "Carousel settings"
      },
      {
        "type": "paragraph",
        "content": "Note: The carousel appears automatically when there are more than 1 block (slide) in this section, and then below settings of the carousel is working"
      },
      {
        "type": "checkbox",
        "id": "show_navigation",
        "default": true,
        "label": "Show navigation buttons"
      },
      {
        "type": "checkbox",
        "id": "show_pagination",
        "default": true,
        "label": "Show pagination bullets"
      },
      {
        "type": "checkbox",
        "id": "show_counter",
        "default": true,
        "label": "Show counter of slides"
      },
      {
        "type": "number",
        "id": "limit",
        "label": "Maximum items",
        "min": 0,
        "max": 8,
        "default": 6,
        "info": "Note: Use positive numbers only. The maximum number of items to show is 8"
      },
      {
        "type": "number",
        "id": "timer",
        "label": "Auto-rotate timer",
        "min": 0,
        "max": 100,
        "default": 5,
        "info": "Note: Use only positive numbers for pauses between rotating slides. Unit - seconds. Set 0 to turn off auto rotate. Max number = 100"
      },
      {
        "type": "color",
        "id": "ui_color",
        "label": "UI color",
        "info": "Note: Used for changing the color of carousel navigation buttons and counter. This color always overrides the default color, and is applied to this section only"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 35,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 36,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 47,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 23,
        "info": "Note: Use positive numbers only"
      }
    ]
  }
{% endschema %}

