<link rel="preload" href="{{ 'hero.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{%- assign custom_title          = section.settings.custom_title -%}
{%- assign custom_description    = section.settings.custom_description -%}
{%- assign show_text             = section.settings.show_text -%}
{%- assign show_bg               = section.settings.show_bg -%}
{%- assign show_datepicker       = section.settings.show_datepicker -%}
{%- assign image                 = section.settings.image -%}
{%- assign margin_top            = section.settings.margin_top -%}
{%- assign margin_bottom         = section.settings.margin_bottom -%}
{%- assign margin_top_mobile     = section.settings.margin_top_mobile -%}
{%- assign margin_bottom_mobile  = section.settings.margin_bottom_mobile -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}

{%- if show_datepicker -%}
  <link rel="preload" href="{{ 'date-picker.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
{%- endif -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- if margin_top != blank -%}
    --margin-top: {{ margin_top }}px;
  {%- endif -%}
  {%- if margin_top_mobile != blank -%}
    --margin-top-mobile: {{ margin_top_mobile }}px;
  {%- endif -%}
  {%- if margin_bottom != blank -%}
    --margin-bottom: {{ margin_bottom }}px;
  {%- endif -%}
  {%- if margin_bottom_mobile != blank -%}
    --margin-bottom-mobile: {{ margin_bottom_mobile }}px;
  {%- endif -%}
  {%- if padding_top != blank -%}
    --padding-top: {{ padding_top }}px;
  {%- endif -%}
  {%- if padding_bottom != blank -%}
    --padding-bottom: {{ padding_bottom }}px;
  {%- endif -%}
  {%- if padding_top_mobile != blank -%}
    --padding-top-mobile: {{ padding_top_mobile }}px;
  {%- endif -%}
  {%- if padding_bottom_mobile != blank -%}
    --padding-bottom-mobile: {{ padding_bottom_mobile }}px;
  {%- endif -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

<div class="hero__wrapper{% if margin_top != blank or margin_top_mobile != blank %} hero__wrapper--margin-top{% endif %}{% if margin_bottom != blank or margin_bottom_mobile != blank %} hero__wrapper--margin-bottom{%- endif -%}" style="{{- variables | escape -}}">
  {%- if show_text -%}
    <div class="hero__container container{% if padding_top != blank or padding_top_mobile != blank %} hero__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} hero__container--padding-bottom{%- endif -%}">
      <div class="hero__content">
        {%- if custom_title != blank -%}
          <h1 class="hero__title">{{- custom_title -}}</h1>
        {%- else -%}
          <h1 class="hero__title">{{- page_title -}}</h1>
        {%- endif -%}

        {%- if custom_description != blank -%}
          <div class="hero__description text-medium">{{- custom_description -}}</div>
        {%- else -%}
          {%- if page_description != blank -%}
            <div class="hero__description text-medium">{{- page_description -}}</div>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  {%- if show_datepicker -%}
    <div class="hero__container hero__container--bottom container">
      <bq-date-picker data-primary-color="{{ settings.primary_color }}"></bq-date-picker>
    </div>
  {%- endif -%}

  <div class="hero__vision">
    {%- if show_bg -%}
      <div class="hero__vision-wrapper">
        {%- if image != blank -%}
          {%- render 'image',
            image: image,
            loading: 'lazy',
            class: 'hero__image',
            size: 'xxl'
          -%}
        {%- else -%}
          {%- render 'image-background-web' -%}
        {%- endif -%}
          <div class="hero__vision-wrapper-overlay container"></div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "class": "hero",
    "description": "Display a section with Name and Description of page",
    "templates": ["collection", "list-collections", "page", "product"],
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "custom_title",
        "label": "Custom title"
      },
      {
        "type": "contentEditor",
        "id": "custom_description",
        "label": "Custom description"
      },
      {
        "type": "checkbox",
        "id": "show_text",
        "default": true,
        "label": "Show text"
      },
      {
        "type": "checkbox",
        "id": "show_datepicker",
        "default": true,
        "label": "Show datepicker"
      },
      {
        "type": "checkbox",
        "id": "show_bg",
        "default": true,
        "label": "Show background image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "number",
        "id": "margin_top",
        "label": "Margin top",
        "min": -150,
        "max": 150,
        "default": 0,
        "info": "Note: You can use both, negative and positive numbers"
      },
      {
        "type": "number",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "min": -150,
        "max": 150,
        "default": 40,
        "info": "Note: You can use both, negative and positive numbers"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 150,
        "default": 115,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 150,
        "default": 115,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "number",
        "id": "margin_top_mobile",
        "label": "Margin top",
        "min": -100,
        "max": 100,
        "default": 0,
        "info": "Note: You can use both, negative and positive numbers"
      },
      {
        "type": "number",
        "id": "margin_bottom_mobile",
        "label": "Margin bottom",
        "min": -100,
        "max": 100,
        "default": 40,
        "info": "Note: You can use both, negative and positive numbers"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 80,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 80,
        "info": "Note: Use positive numbers only"
      }
    ]
  }
{% endschema %}
