<link rel="preload" href="{{ 'buttons.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{%- assign padding_top          = section.settings.padding_top -%}
{%- assign padding_bottom       = section.settings.padding_bottom -%}
{%- assign padding_top_mobile   = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}

{%- capture variables -%}
  --padding-top: {{ padding_top }}px;
  --padding-bottom: {{ padding_bottom }}px;
  --padding-top-mobile: {{ padding_top_mobile }}px;
  --padding-bottom-mobile: {{ padding_bottom_mobile }}px;
{%- endcapture -%}

{%- if section.blocks.size > 0 -%}
  <div class="hero__wrapper" style="{{- variables | escape -}}">
    {%- for block in section.blocks -%}
      {%- assign title          = block.settings.title -%}
      {%- assign description    = block.settings.description -%}
      {%- assign button_label_1 = block.settings.button_label_1 -%}
      {%- assign button_url_1   = block.settings.button_url_1 -%}
      {%- assign button_label_2 = block.settings.button_label_2 -%}
      {%- assign button_url_2   = block.settings.button_url_2 -%}
      {%- assign text_position  = block.settings.text_position -%}
      {%- assign image          = block.settings.image -%}
      {%- assign image_position = block.settings.image_position -%}
      {%- assign background     = block.settings.background -%}
      {%- assign show_overlay   = block.settings.show_overlay -%}
      {%- assign overlay_color  = block.settings.overlay_color -%}
      {%- assign overlay_opacity = block.settings.overlay_opacity -%}

      {%- capture block_variables -%}
        --color-hero-background: {{ background }};
        --color-hero-overlay: {{ overlay_color }};
        --opacity-hero-overlay: {{ overlay_opacity }};

        {%- case text_position -%}
          {%- when 'top-left' -%}
            --justify-content: flex-start;
          {%- when 'top-center' -%}
            --justify-content: center;
          {%- when 'top-right' -%}
            --justify-content: flex-end;
          {%- when 'middle-left' -%}
            --justify-content: flex-start;
          {%- when 'center' -%}
            --justify-content: flex-start;
          {%- when 'middle-right' -%}
            --justify-content: flex-start;
          {%- when 'bottom-left' -%}
            --justify-content: flex-start;
          {%- when 'bottom-center' -%}
            --justify-content: flex-start;
          {%- when 'bottom-right' -%}
            --justify-content: flex-start;
        {%- endcase -%}

        {%- case image_position -%}
          {%- when 'top-left' -%}
            --justify-content: flex-start;
          {%- when 'top-center' -%}
            --justify-content: center;
          {%- when 'top-right' -%}
            --justify-content: flex-end;
          {%- when 'middle-left' -%}
            --justify-content: flex-start;
          {%- when 'center' -%}
            --justify-content: flex-start;
          {%- when 'middle-right' -%}
            --justify-content: flex-start;
          {%- when 'bottom-left' -%}
            --justify-content: flex-start;
          {%- when 'bottom-center' -%}
            --justify-content: flex-start;
          {%- when 'bottom-right' -%}
            --justify-content: flex-start;
        {%- endcase -%}
      {%- endcapture -%}

      <div
        class="hero__container container
          {% if padding_top != 0 or padding_top_mobile != 0 %} hero__container--padding-top{% endif %}
          {% if padding_bottom != 0 or padding_bottom_mobile != 0 %} hero__container--padding-bottom{%- endif -%}"
        style="{{- block_variables | escape -}}"
      >
        <div class="hero__content">
          {%- if title != blank -%}
            <h1 class="hero__title">{{- title -}}</h1>
          {%- endif -%}

          {%- if description != blank -%}
            <div class="hero__description">{{- description -}}</div>
          {%- endif -%}

          {%- if button_label_1 != blank and button_url_1 != blank or button_label_2 != blank and button_url_2 != blank -%}
            <div class="hero__buttons">
              {%- if button_label_1 != blank and button_url_1 != blank -%}
                <a href="{{  button_url_1 }}" class="hero__button">{{- button_label_1 -}}</a>
              {%- endif -%}

              {%- if button_label_2 != blank and button_url_2 != blank -%}
                <a href="{{  button_url_2 }}" class="hero__button">{{- button_label_2 -}}</a>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>

      <div class="hero__image-wrapper">
        <img
            src="{{ image | image_url: 'master' }}"
            alt="{{ image.alt }}"
            class="hero__image"
          >
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "class": "hero",
    "description": "This section contains a slider",
    "blocks":[
      {
        "type": "slide",
        "id": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "header",
            "content": "Text settings"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Rent heavy equipment"
          },
          {
            "type": "contentEditor",
            "id": "description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
          },
          {
            "type": "paragraph",
            "content": "Button #1 settings"
          },
          {
            "type": "text",
            "id": "button_label_1",
            "label": "Label",
            "default": "Check out products"
          },
          {
            "type": "url",
            "id": "button_url_1",
            "label": "Button #1 URL"
          },
          {
            "type": "paragraph",
            "content": "Button #2 settings"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "label": "Label",
            "default": "More info"
          },
          {
            "type": "url",
            "id": "button_url_2",
            "label": "Button #2 URL"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Text positioning",
            "options": [
              {
                "value": "top-left",
                "label": "Top / Left"
              },
              {
                "value": "top-center",
                "label": "Top / Center"
              },
              {
                "value": "top-right",
                "label": "Top / Right"
              },
              {
                "value": "middle-left",
                "label": "Middle / Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "middle-right",
                "label": "Middle / Right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom / Left"
              },
              {
                "value": "bottom-center",
                "label": "Bottom / Center"
              },
              {
                "value": "bottom-right",
                "label": "Bottom / Right"
              }
            ],
            "default": "middle-left"
          },
          {
            "type": "header",
            "content": "Background settings"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "image_position",
            "label": "Image focal point",
            "options": [
              {
                "value": "top-left",
                "label": "Top / Left"
              },
              {
                "value": "top-center",
                "label": "Top / Center"
              },
              {
                "value": "top-right",
                "label": "Top / Right"
              },
              {
                "value": "middle-left",
                "label": "Middle / Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "middle-right",
                "label": "Middle / Right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom / Left"
              },
              {
                "value": "bottom-center",
                "label": "Bottom / Center"
              },
              {
                "value": "bottom-right",
                "label": "Bottom / Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "color",
            "id": "background",
            "label": "Background color",
            "default": "#0B1A26"
          },
          {
            "type": "checkbox",
            "id": "show_overlay",
            "default": true,
            "label": "Show overlay"
          },
          {
            "type": "color",
            "id": "overlay_color",
            "label": "Overlay color",
            "default": "#0B1A26"
          },
          {
            "type": "number",
            "id": "overlay_opacity",
            "label": "Overlay opacity",
            "min": 0,
            "max": 100,
            "default": 40,
            "info": "Note: Use positive numbers only"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "Padding top",
        "default": "50",
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "default": "50",
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "default": "20",
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "default": "20",
        "info": "Note: Use positive numbers only"
      }
    ]
  }
{% endschema %}

