{{ "hero.css" | asset_url | stylesheet_tag }}

{%- assign title                 = section.settings.title -%}
{%- assign message               = section.settings.message -%}
{%- assign results_label         = section.settings.results_label -%}
{%- assign button_label          = section.settings.button_label -%}
{%- assign button_background     = section.settings.button_background -%}
{%- assign button_color          = section.settings.button_color -%}
{%- assign show_bg               = section.settings.show_bg -%}
{%- assign image                 = section.settings.image -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}

{%- if results_count > 0 -%}
  {{ "date-picker.css" | asset_url | stylesheet_tag }}
{%- endif -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 43px;
    {%- when 'medium' -%}
      --padding-top: 65px;
    {%- when 'large' -%}
      --padding-top: 85px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      {%- if results_count > 0  -%}
        --padding-bottom: 22px;
        {%- else -%}
        --padding-bottom: 43px;
      {%- endif -%}
    {%- when 'medium' -%}
      {%- if results_count > 0  -%}
        --padding-bottom: 32px;
      {%- else -%}
        --padding-bottom: 65px;
      {%- endif -%}
    {%- when 'large' -%}
      {%- if results_count > 0  -%}
        --padding-bottom: 43px;
      {%- else -%}
        --padding-bottom: 86px;
      {%- endif -%}
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 30px;
    {%- when 'medium' -%}
      --padding-top-mobile: 40px;
    {%- when 'large' -%}
      --padding-top-mobile: 50px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      {%- if results_count > 0  -%}
        --padding-bottom-mobile: 15px;
      {%- else -%}
        --padding-bottom-mobile: 35px;
      {%- endif -%}
    {%- when 'medium' -%}
      {%- if results_count > 0  -%}
        --padding-bottom-mobile: 20px;
      {%- else -%}
        --padding-bottom-mobile: 45px;
      {%- endif -%}
    {%- when 'large' -%}
      {%- if results_count > 0  -%}
        --padding-bottom-mobile: 30px;
      {%- else -%}
        --padding-bottom-mobile: 60px;
      {%- endif -%}
  {%- endcase -%}
{%- endcapture -%}

{%- capture button_variables -%}
  {%- if button_background != blank -%}
    --color-accent-background: {{ button_background }};
    --color-accent-background-hover: {{ button_background }}E6;
    --color-accent-background-active: {{ button_background }}E6;
  {%- endif -%}
  {%- if button_color != blank -%}
    --color-accent-foreground: {{ button_color }};
  {%- endif -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

<div class="hero__wrapper" style="{{- variables | escape -}}">
  <div class="hero__container container{% if padding_top != blank or padding_top_mobile != blank %} hero__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} hero__container--padding-bottom{%- endif -%}">
    <div class="hero__content" style="{{- button_variables | escape -}}"">
      {%- if title != blank -%}
        <h1 class="hero__title">{{ title }}: “{{- query -}}”</h1>
      {%- else -%}
        <h1 class="hero__title">{{ page_title }}: “{{- query -}}”</h1>
      {%- endif -%}

      {%- if results_count == 0 -%}
        {%- if message != blank -%}
          <div class="hero__message">{{- message -}}</div>
        {%- endif -%}

        {%- if button_label != blank -%}
          <a class="hero__button button button--primary button--large" href="{{ routes.all_products_collection_url }}">{{- button_label -}}</a>
        {%- endif -%}
      {%- else -%}
        <div class="hero__message">
          {{ results_count }} {{ results_label }}
        </div>
      {%- endif -%}

    </div>
  </div>

  {%- if results_count > 0 -%}
    <div class="hero__container hero__container--bottom">
      <div class="hero__container container">
        <bq-date-picker data-primary-color="{{ settings.primary_color }}"></bq-date-picker>
      </div>
    </div>
  {%- endif -%}

  <div class="hero__vision">
    {%- if show_bg -%}
      <div class="hero__vision-wrapper">
        {%- if image != blank -%}
          {%- render 'image',
            image: image,
            loading: 'lazy',
            class: 'hero__image',
            size: 'xxl'
          -%}
        {%- else -%}
          {%- render 'image-background-web' -%}
        {%- endif -%}
          <div class="hero__vision-wrapper-overlay container"></div>
      </div>
    {%- endif -%}
  </div>
</div>

{%- if results_count == 0 -%}
  <script>
    const parent = document.querySelector('#main');
    const sections = [...parent.children];

    if (sections.length <= 1) parent.classList.add('growth');
  </script>
{%- endif -%}

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "class": "hero",
    "description": "Display a section with a search query and the number of results found",
    "templates": ["search"],
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Search results title",
        "default": "Search results for"
      },
      {
        "type": "paragraph",
        "content": "Note: The settings below are applicable when search results have at least 1 product"
      },
      {
        "type": "text",
        "id": "results_label",
        "label": "Results label",
        "default": "results"
      },
      {
        "type": "paragraph",
        "content": "Note: The settings below are applicable when search results are empty"
      },
      {
        "type": "contentEditor",
        "id": "message",
        "label": "Message",
        "default": "No results found"
      },

      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "color",
        "id": "button_background",
        "label": "Button background color",
        "placeholder": "Default"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button label color",
        "placeholder": "Default"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "checkbox",
        "id": "show_bg",
        "default": true,
        "label": "Show background image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      }
    ]
  }
{% endschema %}
