<link rel="preload" href="{{ 'hero.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'carousel.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{%- assign show_arrows           = section.settings.show_arrows -%}
{%- assign show_bullets          = section.settings.show_bullets -%}
{%- assign show_counter          = section.settings.show_counter -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign ui_color              = section.settings.ui_color -%}
{%- assign timer                 = section.settings.timer -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- if padding_top != blank -%}
    --padding-top: {{ padding_top }}px;
  {%- endif -%}
  {%- if padding_bottom != blank -%}
    --padding-bottom: {{ padding_bottom }}px;
  {%- endif -%}
  {%- if padding_top_mobile != blank -%}
    --padding-top-mobile: {{ padding_top_mobile }}px;
  {%- endif -%}
  {%- if padding_bottom_mobile != blank -%}
    --padding-bottom-mobile: {{ padding_bottom_mobile }}px;
  {%- endif -%}
  {%- if ui_color != blank -%}
    --ui-color: {{ ui_color }};
  {%- endif -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

{%- if section.blocks.size > 0 -%}
  <div class="hero__wrapper" style="{{- variables | escape -}}">

    {%- if section.blocks.size > 1 -%}
      <div class="hero__carousel carousel" aria-label="Gallery">
        <input class="carousel__timer" type="hidden" name="hidden" id="timer" value="{{- timer -}}">
    {%- endif -%}

        {%- for block in section.blocks -%}
          {%- assign first                = forloop.first -%}
          {%- assign last                 = forloop.last -%}
          {%- assign index                = forloop.index -%}
          {%- assign index0               = forloop.index0 -%}
          {%- assign length               = forloop.length -%}
          {%- assign title                = block.settings.title -%}
          {%- assign description          = block.settings.description -%}
          {%- assign button_1             = block.settings.button_1 -%}
          {%- assign button_url_1         = block.settings.button_url_1 -%}
          {%- assign button_2             = block.settings.button_2 -%}
          {%- assign button_url_2         = block.settings.button_url_2 -%}
          {%- assign text_position        = block.settings.text_position -%}
          {%- assign text_position_mobile = block.settings.text_position_mobile -%}
          {%- assign video_url            = block.settings.video_url | split: "?v=" | last -%}
          {%- assign video_id             = video_url | strip -%}
          {%- assign image                = block.settings.image -%}
          {%- assign image_mobile         = block.settings.image_mobile -%}
          {%- assign background           = block.settings.background -%}
          {%- assign color                = block.settings.color -%}
          {%- assign title_color          = block.settings.title_color -%}
          {%- assign show_overlay         = block.settings.show_overlay -%}
          {%- assign overlay_opacity      = block.settings.overlay_opacity -%}

          {% comment %} CSS variables start {% endcomment %}
          {%- capture text_variables -%}
            {%- if color != blank -%}
              --color-third-foreground: {{ color }};
            {%- endif -%}
            {%- if title_color != blank -%}
              --title-color: {{ title_color }};
            {%- endif -%}

            {%- case text_position -%}
              {%- when 'top-left' -%}
                --text-justify-content: flex-start;
                --text-align-items: flex-start;
                --text-align: left;
                --text-hero-width: 400px;
                --text-padding-bottom: 0;
                --margin-left: 0;
                --margin-right: auto;
              {%- when 'top-center' -%}
                --text-justify-content: center;
                --text-align-items: flex-start;
                --text-align: center;
                --text-hero-width: none;
                --text-padding-bottom: 0;
                --margin-left: auto;
                --margin-right: auto;
              {%- when 'top-right' -%}
                --text-justify-content: flex-end;
                --text-align-items: flex-start;
                --text-align: right;
                --text-hero-width: 400px;
                --text-padding-bottom: 0;
                --margin-left: auto;
                --margin-right: 0;
              {%- when 'middle-left' -%}
                --text-justify-content: flex-start;
                --text-align-items: center;
                --text-align: left;
                --text-hero-width: 400px;
                --text-padding-bottom: 42px;
                --margin-left: 0;
                --margin-right: auto;
              {%- when 'center' -%}
                --text-justify-content: center;
                --text-align-items: center;
                --text-align: center;
                --text-hero-width: none;
                --text-padding-bottom: 42px;
                --margin-left: auto;
                --margin-right: auto;
              {%- when 'middle-right' -%}
                --text-justify-content: flex-end;
                --text-align-items: center;
                --text-align: right;
                --text-hero-width: 400px;
                --text-padding-bottom: 42px;
                --margin-left: auto;
                --margin-right: 0;
              {%- when 'bottom-left' -%}
                --text-justify-content: flex-start;
                --text-align-items: flex-end;
                --text-align: left;
                --text-hero-width: 400px;
                --text-padding-bottom: 0;
                --margin-left: 0;
                --margin-right: auto;
              {%- when 'bottom-center' -%}
                --text-justify-content: center;
                --text-align-items: flex-end;
                --text-align: center;
                --text-hero-width: none;
                --text-padding-bottom: 0;
                --margin-left: auto;
                --margin-right: auto;
              {%- when 'bottom-right' -%}
                --text-justify-content: flex-end;
                --text-align-items: flex-end;
                --text-align: right;
                --text-hero-width: 400px;
                --text-padding-bottom: 0;
                --margin-left: auto;
                --margin-right: 0;
            {%- endcase -%}

            {%- case text_position_mobile -%}
              {%- when 'top-left' -%}
                --text-justify-content-mobile: flex-start;
                --text-align-items-mobile: flex-start;
                --text-align-mobile: left;
                --text-hero-width-mobile: 400px;
                --text-padding-bottom-mobile: 0;
                --margin-left-mobile: 0;
                --margin-right-mobile: auto;
              {%- when 'top-center' -%}
                --text-justify-content-mobile: center;
                --text-align-items-mobile: flex-start;
                --text-align-mobile: center;
                --text-hero-width-mobile: none;
                --text-padding-bottom-mobile: 0;
                --margin-left-mobile: auto;
                --margin-right-mobile: auto;
              {%- when 'top-right' -%}
                --text-justify-content-mobile: flex-end;
                --text-align-items-mobile: flex-start;
                --text-align-mobile: right;
                --text-hero-width-mobile: 400px;
                --text-padding-bottom-mobile: 0;
                --margin-left-mobile: auto;
                --margin-right-mobile: 0;
              {%- when 'middle-left' -%}
                --text-justify-content-mobile: flex-start;
                --text-align-items-mobile: center;
                --text-align-mobile: left;
                --text-hero-width-mobile: 400px;
                --text-padding-bottom-mobile: 36px;
                --margin-left-mobile: 0;
                --margin-right-mobile: auto;
              {%- when 'center' -%}
                --text-justify-content-mobile: center;
                --text-align-items-mobile: center;
                --text-align-mobile: center;
                --text-hero-width-mobile: none;
                --text-padding-bottom-mobile: 36px;
                --margin-left-mobile: auto;
                --margin-right-mobile: auto;
              {%- when 'middle-right' -%}
                --text-justify-content-mobile: flex-end;
                --text-align-items-mobile: center;
                --text-align-mobile: right;
                --text-hero-width-mobile: 400px;
                --text-padding-bottom-mobile: 36px;
                --margin-left-mobile: auto;
                --margin-right-mobile: 0;
              {%- when 'bottom-left' -%}
                --text-justify-content-mobile: flex-start;
                --text-align-items-mobile: flex-end;
                --text-align-mobile: left;
                --text-hero-width-mobile: 400px;
                --text-padding-bottom-mobile: 0;
                --margin-left-mobile: 0;
                --margin-right-mobile: auto;
              {%- when 'bottom-center' -%}
                --text-justify-content-mobile: center;
                --text-align-items-mobile: flex-end;
                --text-align-mobile: center;
                --text-hero-width-mobile: none;
                --text-padding-bottom-mobile: 0;
                --margin-left-mobile: auto;
                --margin-right-mobile: auto;
              {%- when 'bottom-right' -%}
                --text-justify-content-mobile: flex-end;
                --text-align-items-mobile: flex-end;
                --text-align-mobile: right;
                --text-hero-width-mobile: 400px;
                --text-padding-bottom-mobile: 0;
                --margin-left-mobile: auto;
                --margin-right-mobile: 0;
            {%- endcase -%}
          {%- endcapture -%}

          {%- capture image_variables -%}
            {%- if background != blank -%}
              --color-primary-foreground: {{ background }};
            {%- endif -%}
            {%- if overlay_opacity != blank -%}
              --opacity-overlay: {{ overlay_opacity }}%;
            {%- endif -%}
          {%- endcapture -%}
          {% comment %} CSS variables end {% endcomment %}

          {%- if section.blocks.size > 1 -%}

            {%- if show_arrows -%}
              {%- capture carousel_buttons -%}
                <div class="carousel__buttons" aria-label="Carousel navigation" aria-hidden="true">
                  {%- assign prev_id = index | minus: 1 -%}
                  {%- assign next_id = index | plus: 1 -%}

                  {%- if first -%}
                    {%-assign prev_id = length -%}
                  {%- endif -%}

                  {%- if last -%}
                    {%- assign next_id = length | minus: index0 -%}
                  {%- endif -%}

                  <label for="slide-{{- prev_id -}}" class="carousel__button prev" title="Prev">
                    {%- include 'icon-arrow-right' -%}
                  </label>
                  <label for="slide-{{- next_id -}}" class="carousel__button next" title="Next">
                    {%- include 'icon-arrow-right' -%}
                  </label>
                </div>
              {%- endcapture -%}
            {%- endif -%}

            {%- if show_bullets -%}
              {%- capture carousel_bullets -%}
                <ul class="carousel__bullets" aria-label="Carousel navigation" aria-hidden="true">
                  {%- for i in (1..length) -%}
                    <li class="carousel__bullet-item">
                      {% style %}
                        [id^="slide-{{- i -}}"]:checked ~ .carousel__bullets .carousel__bullet[for="slide-{{- i -}}"] {
                          opacity: 1;
                        }
                      {% endstyle %}

                      <label for="slide-{{- i -}}" class="carousel__bullet" title="Jump to slide #{{- i -}}">
                        Go to slide {{ i -}}
                      </label>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endcapture -%}
            {%- endif -%}

            {%- if show_counter -%}
              {%- capture carousel_counter -%}
                <div class="carousel__counter">
                  {%- for i in (1..length) -%}
                    {%- if i == index -%}
                      <span class="carousel__slide-count">{%- if length < 10 -%}0{%- endif -%}{{- i -}}</span>
                      <span class="carousel__slide-divider">|</span>
                      <span class="carousel__slide-count">{%- if length < 10 -%}0{%- endif -%}{{- length -}}</span>
                    {%- endif -%}

                  {%- endfor -%}
                </div>
              {%- endcapture -%}
            {%- endif -%}

            <input class="carousel__trigger" type="radio" id="slide-{{- index -}}" name="slide" aria-hidden="true" hidden{% if index == 1 %} checked="checked"{%- endif -%}>

            <div class="carousel__slide">
              {{- carousel_buttons -}}
          {%- endif -%}

              <div class="hero__inner">
                <div
                  class="hero__container container{% if padding_top != blank or padding_top_mobile != blank %} hero__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} hero__container--padding-bottom{%- endif -%}"
                  style="{{- text_variables | escape -}}"
                >
                  <div class="hero__text-area">
                    <div class="hero__content">
                      {%- if title != blank -%}
                        <h1 class="hero__title">{{- title -}}</h1>
                      {%- endif -%}

                      {%- if description != blank -%}
                        <div class="hero__description text-medium">{{- description -}}</div>
                      {%- endif -%}

                      {%- if button_1 != blank and button_url_1 != blank or button_2 != blank and button_url_2 != blank -%}
                        <div class="hero__buttons">
                          {%- if button_1 != blank and button_url_1 != blank -%}
                            <a href="{{  button_url_1 }}" class="hero__button button button--primary button--large">{{- button_1 -}}</a>
                          {%- endif -%}

                          {%- if button_2 != blank and button_url_2 != blank -%}
                            <a href="{{  button_url_2 }}" class="hero__button button button--outlined button--large">{{- button_2 -}}</a>
                          {%- endif -%}
                        </div>
                      {%- endif -%}

                    </div>
                  </div>
                </div>

                <div class="hero__vision" style="{{- image_variables | escape -}}">
                  {%- if video_url != blank -%}
                    <div class="hero__vision-wrapper{%if show_overlay %} hero__vision-wrapper--overlay{%- endif -%}">
                      <input id="video-{{- block.id -}}" value="{{- video_id -}}" class="hero__video-id" type="hidden" name="hidden">
                      <div id="player-{{- block.id -}}" class="hero__video"></div>
                    </div>
                  {%- elsif image != blank or image_mobile != blank -%}
                    {%- if image != blank -%}
                      <div class="hero__vision-wrapper{% if image_mobile != blank %} hero__vision-wrapper--desktop{% endif %}{%if show_overlay %} hero__vision-wrapper--overlay{%- endif -%}">
                        {{ image.url | image_tag:
                          loading: 'lazy',
                          class: 'hero__image',
                          widths: '990, 1400, 1900, 2500'
                        }}
                      </div>
                    {%- endif -%}

                    {%- if image_mobile != blank -%}
                      <div class="hero__vision-wrapper hero__vision-wrapper--mobile{%if show_overlay %} hero__vision-wrapper--overlay{%- endif -%}">
                        {{ image_mobile.url | image_tag:
                          loading: 'lazy',
                          class: 'hero__image',
                          widths: '320, 480, 567'
                        }}
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              </div>

          {%- if section.blocks.size > 1 -%}
              {{- carousel_counter -}}
            </div>
          {%- endif -%}
        {%- endfor -%}

      {%- if section.blocks.size > 1 -%}
        {{- carousel_bullets -}}
      </div>
    {%- endif -%}
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "class": "hero",
    "description": "Display a slider with content and background image",
    "blocks":[
      {
        "type": "slide",
        "id": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "header",
            "content": "Text settings"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Rent heavy equipment"
          },
          {
            "type": "contentEditor",
            "id": "description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
          },
          {
            "type": "paragraph",
            "content": "Button #1 settings"
          },
          {
            "type": "text",
            "id": "button_1",
            "label": "Label",
            "default": "Check out products"
          },
          {
            "type": "url",
            "id": "button_url_1",
            "label": "Button #1 URL"
          },
          {
            "type": "paragraph",
            "content": "Button #2 settings"
          },
          {
            "type": "text",
            "id": "button_2",
            "label": "Label",
            "default": "More info"
          },
          {
            "type": "url",
            "id": "button_url_2",
            "label": "Button #2 URL"
          },
          {
            "type": "header",
            "content": "Colors settings"
          },
          {
            "type": "color",
            "id": "background",
            "label": "Background color",
            "info": "Note: This color always overrides the default color, and is applied to this section only"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Foreground color",
            "info": "Note: This color always overrides the default color, and is applied to this section only"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "info": "Note: This color always overrides the default color, and is applied to this section only"
          },
          {
            "type": "header",
            "content": "Video settings"
          },
          {
            "type": "paragraph",
            "content": "Note: This feature works with Youtube videos only. URL must be copied from Youtube video page and pasted to the field below. Preferable video's dimension 16:9. For example: https://www.youtube.com/watch?v=QAUzWtLMnU0"
          },
          {
            "type": "url",
            "id": "video_url",
            "label": "URL to video"
          },
          {
            "type": "paragraph",
            "content": "Note: The video takes precedence over 'Image' and only this one will be displaying on both desktop and mobile"
          },
          {
            "type": "header",
            "content": "Overlay settings"
          },
          {
            "type": "checkbox",
            "id": "show_overlay",
            "default": true,
            "label": "Show overlay"
          },
          {
            "type": "number",
            "id": "overlay_opacity",
            "label": "Overlay opacity",
            "min": 0,
            "max": 100,
            "default": 100,
            "info": "Note: Use positive numbers only"
          },
          {
            "type": "header",
            "content": "Desktop settings"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Text positioning",
            "options": [
              {
                "value": "top-left",
                "label": "Top / Left"
              },
              {
                "value": "top-center",
                "label": "Top / Center"
              },
              {
                "value": "top-right",
                "label": "Top / Right"
              },
              {
                "value": "middle-left",
                "label": "Middle / Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "middle-right",
                "label": "Middle / Right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom / Left"
              },
              {
                "value": "bottom-center",
                "label": "Bottom / Center"
              },
              {
                "value": "bottom-right",
                "label": "Bottom / Right"
              }
            ],
            "default": "middle-left"
          },
          {
            "type": "image_picker",
            "id": "image",
            "info": "Note: The image has the lowest priority",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Mobile settings"
          },
          {
            "type": "select",
            "id": "text_position_mobile",
            "label": "Text positioning",
            "options": [
              {
                "value": "top-left",
                "label": "Top / Left"
              },
              {
                "value": "top-center",
                "label": "Top / Center"
              },
              {
                "value": "top-right",
                "label": "Top / Right"
              },
              {
                "value": "middle-left",
                "label": "Middle / Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "middle-right",
                "label": "Middle / Right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom / Left"
              },
              {
                "value": "bottom-center",
                "label": "Bottom / Center"
              },
              {
                "value": "bottom-right",
                "label": "Bottom / Right"
              }
            ],
            "default": "top-left"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "info": "Note: The image has the lowest priority",
            "label": "Image"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Carousel settings"
      },
      {
        "type": "paragraph",
        "content": "Note: The carousel appears automatically when there are more than 1 block (slide) in this section, and then below settings of the carousel is working"
      },
      {
        "type": "number",
        "id": "timer",
        "label": "Auto-rotate timer",
        "min": 0,
        "max": 100,
        "default": 5,
        "info": "Note: Use only positive numbers for pauses between rotating slides. Unit - seconds. Set 0 to turn off auto rotate. Max number = 100"
      },
      {
        "type": "checkbox",
        "id": "show_arrows",
        "default": true,
        "label": "Show left/right buttons"
      },
      {
        "type": "checkbox",
        "id": "show_bullets",
        "default": true,
        "label": "Show navigation bullets"
      },
      {
        "type": "checkbox",
        "id": "show_counter",
        "default": true,
        "label": "Show counter of slides"
      },
      {
        "type": "color",
        "id": "ui_color",
        "label": "UI color",
        "info": "Note: Used for changing the color of carousel navigation buttons and counter. This color always overrides the default color, and is applied to this section only"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 35,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 36,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 47,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 23,
        "info": "Note: Use positive numbers only"
      }
    ]
  }
{% endschema %}

