{{ "hero.css" | asset_url | stylesheet_tag }}

{%- assign show_bg               = section.settings.show_bg -%}
{%- assign show_datepicker       = section.settings.show_datepicker -%}
{%- assign image                 = section.settings.image -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign primary_background    = section.settings.primary_background -%}
{%- assign primary_foreground    = section.settings.primary_foreground -%}
{%- assign secondary_foreground  = section.settings.secondary_foreground -%}

{%- if show_datepicker -%}
  {{ "date-picker.css" | asset_url | stylesheet_tag }}
{%- endif -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- if primary_background != blank -%}
    --color-primary-foreground: {{ primary_background }};
    --color-primary-foreground-rgb: {{ primary_background | append: "00" }};
  {%- endif -%}
  {%- if secondary_foreground != blank -%}
    --color-third-foreground: {{ secondary_foreground }};
  {%- endif -%}

  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 16px;
    {%- when 'medium' -%}
      --padding-top: 24px;
    {%- when 'large' -%}
      --padding-top: 48px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 16px;
    {%- when 'medium' -%}
      --padding-bottom: 24px;
    {%- when 'large' -%}
      --padding-bottom: 48px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 16px;
    {%- when 'medium' -%}
      --padding-top-mobile: 24px;
    {%- when 'large' -%}
      --padding-top-mobile: 48px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 16px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 24px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 48px;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

<div class="hero__wrapper" style="{{- variables | escape -}}">
  {%- if show_datepicker -%}
    <div class="hero__container hero__container--bottom{% if padding_top != blank or padding_top_mobile != blank %} hero__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} hero__container--padding-bottom{%- endif -%}">
      <div class="hero__container container">
        <bq-date-picker data-primary-color="{{ settings.primary_color }}"></bq-date-picker>
      </div>
    </div>
  {%- endif -%}

  <div class="hero__vision">
    {%- if show_bg -%}
      <div class="hero__vision-wrapper">
        {%- if image != blank -%}
          {%- render 'image',
            image: image,
            loading: 'lazy',
            class: 'hero__image',
            size: 'xxl'
          -%}
        {%- else -%}
          {%- render 'image-background-web' -%}
        {%- endif -%}
          <div class="hero__vision-wrapper-overlay container"></div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "class": "hero",
    "description": "Display a section with Name and Description of page",
    "templates": ["product"],
    "settings": [
      {
        "type": "header",
        "content": "Basic settings"
      },
      {
        "type": "paragraph",
        "content": "Below you can change the content of section"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "header",
        "content": "Advanced settings"
      },
      {
        "type": "paragraph",
        "content": "Below you can change the appearance and the components' functionality of the section"
      },
      {
        "type": "checkbox",
        "id": "show_datepicker",
        "default": true,
        "label": "Show datepicker"
      },
      {
        "type": "checkbox",
        "id": "show_bg",
        "default": true,
        "label": "Show background image"
      },
      {
        "type": "color",
        "id": "primary_background",
        "label": "Background color",
        "info": "Note: This color always overrides the default color, and is applied to this section only"
      },
      {
        "type": "color",
        "id": "secondary_foreground",
        "label": "Foreground secondary color",
        "info": "Note: This color always overrides the default color, and is applied to this section only"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ]
  }
{% endschema %}
