<script>
  // Loading the IFrame Player API code asynchronously.
  const tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";

  const firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>

{%- assign blocks = section.blocks -%}

{%- if blocks.size > 0 -%}
  {{ "images.css" | asset_url | stylesheet_tag }}

  {%- assign limit                 = section.settings.limit -%}
  {%- assign height                = section.settings.height -%}
  {%- assign color_overlay         = section.settings.color_overlay -%}
  {%- assign padding_top           = section.settings.padding_top -%}
  {%- assign padding_bottom        = section.settings.padding_bottom -%}
  {%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
  {%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
  {%- assign timer                 = section.settings.timer -%}
  {%- assign pause                 = section.settings.pause -%}
  {%- assign effect                = section.settings.effect -%}

  {%- assign carousel = false -%}

  {%- if blocks.size > 1 -%}
    {{ "carousel.css" | asset_url | stylesheet_tag }}

    {%- assign carousel = true -%}
  {%- endif -%}

  {%- assign video_array          = "" -%}

  {%- for block in blocks -%}
    {%- assign full_width         = block.settings.full_width -%}
    {%- assign video_url          = block.settings.video_url | strip -%}
    {%- assign video              = false -%}

    {%- if video_url != blank and full_width -%}
      {%- assign video            = true -%}
      {%- assign video_array      = video_array | append: video -%}
    {%- endif -%}
  {%- endfor -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- if carousel -%}
      --slide-width: 100%;
      --slide-width-mobile: 100%;
    {%- endif -%}

    {%- case height -%}
      {%- when 'small' -%}
        --height: 500px;
      {%- when 'medium' -%}
        --height: 650px;
      {%- when 'large' -%}
        --height: 800px;
    {%- endcase -%}

    {%- case padding_top -%}
      {%- when 'none' -%}
        --padding-top: 0;
      {%- when 'small' -%}
        --padding-top: 20px;
      {%- when 'medium' -%}
        --padding-top: 35px;
      {%- when 'large' -%}
        --padding-top: 60px;
    {%- endcase -%}

    {%- case padding_bottom -%}
      {%- when 'none' -%}
        --padding-bottom: 0;
      {%- when 'small' -%}
        --padding-bottom: 20px;
      {%- when 'medium' -%}
        --padding-bottom: 35px;
      {%- when 'large' -%}
        --padding-bottom: 60px;
    {%- endcase -%}

    {%- case padding_top_mobile -%}
      {%- when 'none' -%}
        --padding-top-mobile: 0;
      {%- when 'small' -%}
        --padding-top-mobile: 24px;
      {%- when 'medium' -%}
        --padding-top-mobile: 32px;
      {%- when 'large' -%}
        --padding-top-mobile: 41px;
    {%- endcase -%}

    {%- case padding_bottom_mobile -%}
      {%- when 'none' -%}
        --padding-bottom-mobile: 0;
      {%- when 'small' -%}
        --padding-bottom-mobile: 24px;
      {%- when 'medium' -%}
        --padding-bottom-mobile: 32px;
      {%- when 'large' -%}
        --padding-bottom-mobile: 41px;
    {%- endcase -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  <div class="images__wrapper{% if color_overlay != blank %} overlay-{{ color_overlay }}{%- endif -%}" style="{{- variables | escape -}}">
    {%- if carousel -%}
      <div class="carousel carousel__fluid carousel__{{- effect -}}-effect{% if pause %} carousel__pause{%- endif -%}" aria-label="Gallery">
        <input class="carousel__timer" type="hidden" name="hidden" value="{{- timer -}}">
        <div class="carousel__wrapper">
    {%- endif -%}

          {%- for block in blocks limit: limit -%}
            {%- assign first                = forloop.first -%}
            {%- assign title                = block.settings.title -%}
            {%- assign description          = block.settings.description -%}
            {%- assign button_1             = block.settings.button_1 -%}
            {%- assign button_url_1         = block.settings.button_url_1 -%}
            {%- assign button_2             = block.settings.button_2 -%}
            {%- assign button_url_2         = block.settings.button_url_2 -%}
            {%- assign text_position        = block.settings.text_position -%}
            {%- assign text_position_mobile = block.settings.text_position_mobile -%}
            {%- assign video_url            = block.settings.video_url | strip -%}
            {%- assign image                = block.settings.image -%}
            {%- assign image_mobile         = block.settings.image_mobile -%}
            {%- assign overlay_opacity      = block.settings.overlay_opacity -%}

            {% comment %} CSS variables start {% endcomment %}
            {%- capture text_variables -%}
              {%- case text_position -%}
                {%- when 'top-left' -%}
                  --text-justify-content: flex-start;
                  --text-align-items: flex-start;
                  --text-align: left;
                  --margin-left: 0;
                  --margin-right: auto;
                  --padding-left: 0;
                  --padding-right: 37px;
                {%- when 'top-center' -%}
                  --text-justify-content: center;
                  --text-align-items: flex-start;
                  --text-align: center;
                  --margin-left: auto;
                  --margin-right: auto;
                  --padding-left: 0;
                  --padding-right: 0;
                {%- when 'top-right' -%}
                  --text-justify-content: flex-end;
                  --text-align-items: flex-start;
                  --text-align: right;
                  --margin-left: auto;
                  --margin-right: 0;
                  --padding-left: 37px;
                  --padding-right: 0;
                {%- when 'middle-left' -%}
                  --text-justify-content: flex-start;
                  --text-align-items: center;
                  --text-align: left;
                  --margin-left: 0;
                  --margin-right: auto;
                  --padding-left: 0;
                  --padding-right: 37px;
                {%- when 'center' -%}
                  --text-justify-content: center;
                  --text-align-items: center;
                  --text-align: center;
                  --margin-left: auto;
                  --margin-right: auto;
                  --padding-left: 0;
                  --padding-right: 0;
                {%- when 'middle-right' -%}
                  --text-justify-content: flex-end;
                  --text-align-items: center;
                  --text-align: right;
                  --margin-left: auto;
                  --margin-right: 0;
                  --padding-left: 37px;
                  --padding-right: 0;
                {%- when 'bottom-left' -%}
                  --text-justify-content: flex-start;
                  --text-align-items: flex-end;
                  --text-align: left;
                  --margin-left: 0;
                  --margin-right: auto;
                  --padding-left: 0;
                  --padding-right: 37px;
                {%- when 'bottom-center' -%}
                  --text-justify-content: center;
                  --text-align-items: flex-end;
                  --text-align: center;
                  --margin-left: auto;
                  --margin-right: auto;
                  --padding-left: 0;
                  --padding-right: 0;
                {%- when 'bottom-right' -%}
                  --text-justify-content: flex-end;
                  --text-align-items: flex-end;
                  --text-align: right;
                  --margin-left: auto;
                  --margin-right: 0;
                  --padding-left: 37px;
                  --padding-right: 0;
              {%- endcase -%}

              {%- case text_position_mobile -%}
                {%- when 'top-left' -%}
                  --text-justify-content-mobile: flex-start;
                  --text-align-items-mobile: flex-start;
                  --text-align-mobile: left;
                  --margin-left-mobile: 0;
                  --margin-right-mobile: auto;
                {%- when 'top-center' -%}
                  --text-justify-content-mobile: center;
                  --text-align-items-mobile: flex-start;
                  --text-align-mobile: center;
                  --margin-left-mobile: auto;
                  --margin-right-mobile: auto;
                {%- when 'top-right' -%}
                  --text-justify-content-mobile: flex-end;
                  --text-align-items-mobile: flex-start;
                  --text-align-mobile: right;
                  --margin-left-mobile: auto;
                  --margin-right-mobile: 0;
                {%- when 'middle-left' -%}
                  --text-justify-content-mobile: flex-start;
                  --text-align-items-mobile: center;
                  --text-align-mobile: left;
                  --margin-left-mobile: 0;
                  --margin-right-mobile: auto;
                {%- when 'center' -%}
                  --text-justify-content-mobile: center;
                  --text-align-items-mobile: center;
                  --text-align-mobile: center;
                  --margin-left-mobile: auto;
                  --margin-right-mobile: auto;
                {%- when 'middle-right' -%}
                  --text-justify-content-mobile: flex-end;
                  --text-align-items-mobile: center;
                  --text-align-mobile: right;
                  --margin-left-mobile: auto;
                  --margin-right-mobile: 0;
                {%- when 'bottom-left' -%}
                  --text-justify-content-mobile: flex-start;
                  --text-align-items-mobile: flex-end;
                  --text-align-mobile: left;
                  --margin-left-mobile: 0;
                  --margin-right-mobile: auto;
                {%- when 'bottom-center' -%}
                  --text-justify-content-mobile: center;
                  --text-align-items-mobile: flex-end;
                  --text-align-mobile: center;
                  --margin-left-mobile: auto;
                  --margin-right-mobile: auto;
                {%- when 'bottom-right' -%}
                  --text-justify-content-mobile: flex-end;
                  --text-align-items-mobile: flex-end;
                  --text-align-mobile: right;
                  --margin-left-mobile: auto;
                  --margin-right-mobile: 0;
              {%- endcase -%}
            {%- endcapture -%}

            {%- capture image_variables -%}
              {%- if overlay_opacity != blank -%}
                --opacity-overlay: {{ overlay_opacity | append: "%"}};
              {%- endif -%}
            {%- endcapture -%}
            {% comment %} CSS variables end {% endcomment %}

            {%- if carousel -%}
              <div class="carousel__item{% if video_array.size > 0 %} images__video-wrapper{% endif %}{% if effect == 'fade' and first == false %} hide{% endif %}{% if effect == 'fade' and first %} show{%- endif -%}">
                <div class="carousel__inner">
            {%- endif -%}
                  {%- if video and carousel == false -%}
                    <div class="images__video-wrapper">
                  {%- endif -%}
                    <div
                      class="images__container container{% if padding_top != blank or padding_top_mobile != blank %} images__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} images__container--padding-bottom{%  endif %}"
                      style="{{- text_variables | escape -}}"
                    >
                      <div class="images__text-area">
                        <div class="images__content">
                          {%- if title != blank -%}
                            <h1 class="images__title">{{- title -}}</h1>
                          {%- endif -%}

                          {%- if description != blank -%}
                            <div class="images__description text-medium">{{- description | truncate: 150, " ..." -}}</div>
                          {%- endif -%}

                          {%- if button_1 != blank or button_2 != blank -%}
                            <div class="images__buttons">
                              {%- if button_1 != blank and button_url_1 != blank -%}
                                <a href="{{  button_url_1 }}" class="images__button button button--primary button--large">{{- button_1 -}}</a>
                              {%- endif -%}

                              {%- if button_2 != blank and button_url_2 != blank -%}
                                <a href="{{  button_url_2 }}" class="images__button button button--outlined button--large">{{- button_2 -}}</a>
                              {%- endif -%}
                            </div>
                          {%- endif -%}

                        </div>
                      </div>
                    </div>

                    <div class="images__vision" style="{{- image_variables | escape -}}">
                      {%- if video_url contains "youtube.com" -%}
                        {%- assign video_drop = video_url | split: "?v=" -%}
                        {%- assign video_id   = video_drop | last | strip -%}

                        <div class="images__vision-wrapper images__vision-wrapper--overlay">
                          <input id="video-{{- block.id -}}" value="{{- video_id -}}" class="images__video-id" type="hidden" name="hidden">
                          <div id="player-{{- block.id -}}" class="images__video"></div>
                        </div>

                      {%- elsif video_url contains "vimeo.com" -%}
                        {%- assign video_drop = video_url | split: "/" -%}
                        {%- assign video_id   = video_drop | last | strip -%}

                        <div class="images__vision-wrapper images__vision-wrapper--overlay">
                          <iframe
                            class="images__video"
                            src="https://player.vimeo.com/video/{{- video_id -}}?autoplay=1&muted=1&loop=1&autopause=0&controls=0&background=1"
                            width="988"
                            height="556"
                            frameborder="0"
                            allow="autoplay; fullscreen"
                            allowfullscreen
                            autoplay
                            muted
                            loop
                          ></iframe>
                        </div>

                      {%- elsif image != blank or image_mobile != blank -%}
                        {%- if image != blank -%}
                          <div class="images__vision-wrapper{% if image_mobile != blank %} images__vision-wrapper--desktop{% endif %} images__vision-wrapper--overlay">
                            {%- render 'image',
                              image: image,
                              loading: 'lazy',
                              class: 'images__image',
                              size: 'xxl'
                            -%}
                          </div>
                        {%- endif -%}

                        {%- if image_mobile != blank -%}
                          <div class="images__vision-wrapper images__vision-wrapper--mobile images__vision-wrapper--overlay">
                            {%- render 'image',
                              image: image,
                              loading: 'lazy',
                              class: 'images__image',
                              size: 'm'
                            -%}
                          </div>
                        {%- endif -%}
                      {%- endif -%}
                    </div>
                  {%- if video and carousel == false -%}
                    </div>
                  {%- endif -%}

            {%- if carousel -%}
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}

    {%- if carousel -%}
        </div>

        <div class="carousel__navigation" aria-label="Carousel navigation" aria-hidden="true">
          <span class="carousel__btn prev" title="Prev slide">
            Previous slide
            {%- render 'icon-arrow-right' -%}
          </span>
          <span class="carousel__btn next" title="Next slide">
            Next slide
            {%- render 'icon-arrow-right' -%}
          </span>
        </div>

        <div class="carousel__pagination" aria-label="Carousel pagination" aria-hidden="true">
          {%- for block in blocks limit: limit -%}
            {%- assign first = forloop.first -%}
            {%- assign index = forloop.index -%}

            <span class="carousel__dot{% if first %} active{%- endif -%}" data-index="{{- index -}}" title="Jump to slide {{ index -}}">
              Go to slide {{ index -}}
            </span>
          {%- endfor -%}
        </div>

        <div class="carousel__counter">
          {%- for block in blocks limit: limit) -%}
            {%- assign length = forloop.length -%}
          {%- endfor -%}

          <span class="carousel__count">{%- if length < 10 -%}0{%- endif -%}1</span>
          <span class="carousel__divider">|</span>
          <span class="carousel__summary">{%- if length < 10 -%}0{%- endif -%}{{- length -}}</span>
        </div>
      </div>
    {%- endif -%}
  </div>
{%- endif -%}

<script src="{{ "images.js" | asset_url }}" defer></script>

{% schema %}
  {
    "name": "Images",
    "tag": "section",
    "class": "images",
    "description": "Display a carousel with content and background image or video",
    "templates": ["index"],
    "blocks":[
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "header",
            "content": "Basic settings"
          },
          {
            "type": "paragraph",
            "content": "Below you can change the content of block"
          },
          {
            "type": "contentEditor",
            "id": "title",
            "label": "Title",
            "default": "Rent heavy equipment"
          },
          {
            "type": "contentEditor",
            "id": "description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
          },
          {
            "type": "text",
            "id": "button_1",
            "label": "Button 1 label",
            "default": "Check out products",
            "info": "Note: Leave label blank to disable the button"
          },
          {
            "type": "url",
            "id": "button_url_1",
            "label": "Button 1 URL"
          },
          {
            "type": "text",
            "id": "button_2",
            "label": "Button 2 label",
            "default": "More info",
            "info": "Note: Leave label blank to disable the button"
          },
          {
            "type": "url",
            "id": "button_url_2",
            "label": "Button 2 URL"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image mobile"
          },
          {
            "type": "header",
            "content": "Advanced settings"
          },
          {
            "type": "paragraph",
            "content": "Below you can change the appearance and the components' functionality of the block"
          },
          {
            "type": "number",
            "id": "overlay_opacity",
            "label": "Overlay opacity",
            "min": 0,
            "max": 100,
            "default": 80,
            "info": "Note: Use positive numbers only. Leave blank or set to 0 to disable the overlay"
          },
          {
            "type": "header",
            "content": "Desktop settings"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Text positioning",
            "options": [
              {
                "value": "top-left",
                "label": "Top / Left"
              },
              {
                "value": "top-center",
                "label": "Top / Center"
              },
              {
                "value": "top-right",
                "label": "Top / Right"
              },
              {
                "value": "middle-left",
                "label": "Middle / Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "middle-right",
                "label": "Middle / Right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom / Left"
              },
              {
                "value": "bottom-center",
                "label": "Bottom / Center"
              },
              {
                "value": "bottom-right",
                "label": "Bottom / Right"
              }
            ],
            "default": "middle-left"
          },
          {
            "type": "header",
            "content": "Mobile settings"
          },
          {
            "type": "select",
            "id": "text_position_mobile",
            "label": "Text positioning",
            "options": [
              {
                "value": "top-left",
                "label": "Top / Left"
              },
              {
                "value": "top-center",
                "label": "Top / Center"
              },
              {
                "value": "top-right",
                "label": "Top / Right"
              },
              {
                "value": "middle-left",
                "label": "Middle / Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "middle-right",
                "label": "Middle / Right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom / Left"
              },
              {
                "value": "bottom-center",
                "label": "Bottom / Center"
              },
              {
                "value": "bottom-right",
                "label": "Bottom / Right"
              }
            ],
            "default": "top-left"
          },
          {
            "type": "header",
            "content": "Video settings"
          },
          {
            "type": "checkbox",
            "id": "full_width",
            "default": true,
            "label": "Width from adge to adge",
            "info": "Note: It prevents black stripes on the sides of a video, but increases the height as well. It might look not well on big screens"
          },
          {
            "type": "text",
            "id": "video_url",
            "label": "Youtube / Vimeo URL",
            "info": "Note: The video takes precedence over 'Image' and only this one will be displaying on both desktop and mobile."
          }
        ]
      }
    ],
    "max_blocks": 8,
    "settings": [
      {
        "type": "header",
        "content": "Advanced settings"
      },
      {
        "type": "paragraph",
        "content": "Below you can change the appearance and the components' functionality of the section"
      },
      {
        "type": "select",
        "id": "color_overlay",
        "label": "Overlay color",
        "options": [
          {
            "value": "dark",
            "label": "Dark"
          },
          {
            "value": "light",
            "label": "Light"
          }
        ],
        "default": "dark"
      },
      {
        "type": "paragraph",
        "content": "Note: The carousel appears automatically when there are more than 1 block (slide) in this section, and then below settings of the carousel are working"
      },
      {
        "type": "number",
        "id": "limit",
        "label": "Maximum slides to show",
        "min": 0,
        "max": 8,
        "default": 6,
        "info": "Note: Use positive numbers only. The maximum number of slides to show is 8"
      },
      {
        "type": "number",
        "id": "timer",
        "label": "Auto-rotate timer",
        "min": 0,
        "max": 100,
        "default": 5,
        "info": "Note: Use only positive numbers for pauses between rotating slides. Unit - seconds. Set 0 to turn off auto rotate. Max number = 100"
      },
      {
        "type": "checkbox",
        "id": "pause",
        "default": true,
        "label": "Pause auto-rotate on hover"
      },
      {
        "type": "select",
        "id": "effect",
        "label": "Slides changing effect",
        "options": [
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "slide",
            "label": "Slide"
          }
        ],
        "default": "slide"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "height",
        "label": "Section height",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      }
    ]
  }
{% endschema %}

