{%- unless section.blocks.size == 0 -%}

  {{ "partners.css" | asset_url | stylesheet_tag }}

  {%- assign title                 = section.settings.title -%}
  {%- assign text_position         = section.settings.text_position -%}
  {%- assign text_position_mobile  = section.settings.text_position_mobile -%}
  {%- assign color                 = section.settings.color -%}
  {%- assign background            = section.settings.background -%}
  {%- assign padding_top           = section.settings.padding_top -%}
  {%- assign padding_bottom        = section.settings.padding_bottom -%}
  {%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
  {%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
  {%- assign image_placeholder     = settings.image_placeholder -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- if color != blank -%}
      --color-secondary-foreground: {{ color }};
    {%- endif -%}
    {%- if background != blank -%}
      --color-primary-foreground: {{ background }};
      --color-primary-background-rgb-20: {{ background }}33;
    {%- endif -%}

    {%- case padding_top -%}
      {%- when 'small' -%}
        --padding-top: 60px;
      {%- when 'medium' -%}
        --padding-top: 84px;
      {%- when 'large' -%}
        --padding-top: 96px;
    {%- endcase -%}

    {%- case padding_bottom -%}
      {%- when 'small' -%}
        --padding-bottom: 60px;
      {%- when 'medium' -%}
        --padding-bottom: 84px;
      {%- when 'large' -%}
        --padding-bottom: 96px;
    {%- endcase -%}

    {%- case padding_top_mobile -%}
      {%- when 'small' -%}
        --padding-top-mobile: 29px;
      {%- when 'medium' -%}
        --padding-top-mobile: 45px;
      {%- when 'large' -%}
        --padding-top-mobile: 60px;
    {%- endcase -%}

    {%- case padding_bottom_mobile -%}
      {%- when 'small' -%}
        --padding-bottom-mobile: 29px;
      {%- when 'medium' -%}
        --padding-bottom-mobile: 45px;
      {%- when 'large' -%}
        --padding-bottom-mobile: 60px;
    {%- endcase -%}

    {%- case text_position -%}
      {%- when 'left' -%}
        --text-align: left;
      {%- when 'center' -%}
        --text-align: center;
      {%- when 'right' -%}
        --text-align: right;
    {%- endcase -%}

    {%- case text_position_mobile -%}
      {%- when 'left' -%}
        --text-align-mobile: left;
        --padding-x: 0;
      {%- when 'center' -%}
        --text-align-mobile: center;
        --padding-x: 16px;
      {%- when 'right' -%}
        --text-align-mobile: right;
        --padding-x: 0;
    {%- endcase -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  <div
    class="partners__wrapper{% if padding_top != blank or padding_top_mobile != blank %} partners__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} partners__wrapper--padding-bottom{%- endif -%}"
    style="{{- variables | escape -}}"
  >
    <div class="partners__container container">
      <div class="partners__columns">
        {%- if title != blank -%}
          <div class="partners__col">
            <h2 class="partners__title h5">{{- title -}}</h2>
          </div>
        {%- endif -%}

        {%- if section.blocks.size >= 1 -%}
          <div class="partners__col partners__logos">
            {%- for block in section.blocks -%}
              {%- assign image = block.settings.image -%}

              {%- if image != blank -%}
                {%- assign image = image -%}
              {%- elsif image_placeholder != blank -%}
                {%- assign image = image_placeholder -%}
              {%- else -%}
                {%- assign image = blank -%}
              {%- endif -%}

              <div class="partners__image-wrapper{% if image == blank %} no-image{% endif %}" id="{{- block.id -}}">
                {%- if image.url != blank -%}
                  {%- render 'image',
                    image: image,
                    loading: 'lazy',
                    class: 'partners__image',
                    size: 's'
                  -%}
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endunless -%}


{% schema %}
  {
    "name": "Partners",
    "description": "Display section with partners logos",
    "tag": "section",
    "class": "partners",
    "settings": [
      {
        "type": "paragraph",
        "content": "Note: This section is visible only when there is at least 1 block (partner's logo)"
      },
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Used by the world's most average companies"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background color",
        "info": "Note: This color always overrides the default color, and is applied to this section only"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Foreground color",
        "info": "Note: This color always overrides the default color, and is applied to this section only"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text positioning",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "text_position_mobile",
        "label": "Text positioning",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      }
    ],
    "blocks": [
      {
        "type": "partner",
        "name": "Partner",
        "settings":[
          {
            "type": "image_picker",
            "id": "image",
            "label": "Partner's logo"
          }
        ]
      }
    ]
  }
{% endschema %}
