<link rel="preload" href="{{ 'product-page.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{%- assign timer                 = section.settings.timer -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign carousel              = false -%}

{%- if product.images.size > 1 -%}
  <link rel="preload" href="{{ 'carousel.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

  {%- assign carousel = true -%}
{%- endif -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- if padding_top != blank -%}
    --padding-top: {{ padding_top }}px;
  {%- endif -%}
  {%- if padding_bottom != blank -%}
    --padding-bottom: {{ padding_bottom }}px;
  {%- endif -%}
  {%- if padding_top_mobile != blank -%}
    --padding-top-mobile: {{ padding_top_mobile }}px;
  {%- endif -%}
  {%- if padding_bottom_mobile != blank -%}
    --padding-bottom-mobile: {{ padding_bottom_mobile }}px;
  {%- endif -%}
  {%- if ui_color != blank -%}
    --ui-color: {{ ui_color }};
  {%- endif -%}
  {%- if carousel -%}
    --slide-width: 100%;
    --slide-width-mobile: 100%;
  {%- endif -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

<div
  class="product-main__container container {% if padding_top != blank or padding_top_mobile != blank %} product-main__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} product-main__container--padding-bottom{%- endif -%}"
  style="{{- variables | escape -}}"
>
  <div class="product-main__wrapper">
    <div class="product-main__gallery">
      {%- if carousel -%}
        <div class="carousel carousel__fluid carousel__slide-effect carousel__pause" aria-label="Gallery">
          <input class="carousel__timer" type="hidden" name="hidden" value="{{- timer -}}">
          <div class="carousel__wrapper">
      {%- endif -%}
            {%- for image in product.images -%}

              {%- if carousel -%}
                <div class="carousel__item">
                  <div class="carousel__inner">
              {%- endif -%}
                    {{ image.url | image_tag:
                      class: 'product-main__gallery-image lazyload',
                      widths: '600, 700, 800',
                      sizes: '(max-width: 576px) 600px, (max-width: 876px) 700px, 800px',
                    }}
              {%- if carousel -%}
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}

      {%- if carousel -%}
          </div>

          <div class="carousel__pagination" aria-label="Carousel pagination" aria-hidden="true">
            {%- for image in product.images -%}
              {%- assign first = forloop.first -%}
              {%- assign index = forloop.index -%}
              {%- assign focal = image.coordinates -%}

              <span class="carousel__dot{% if first %} active{%- endif -%}" data-index="{{- index -}}" title="Jump to slide {{ index -}}">
                <span class="carousel__dot-wrapper">
                  {{ image.url | image_tag:
                    class: 'carousel__dot-image',
                    loading: 'lazy',
                    focal: focal,
                    widths: '150'
                  }}
                </span>
              </span>
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}

    </div>

    <div class="product-main__info">
      <div class="product-info">
        <h1 class="product-info__title">{{ product.name }}</h1>
        {% if product.variants.size > 1 %}
          <p class="product-info__label">{{ section.settings.variation_label }}</p>
        {% endif %}
        {{ product_button }}
      </div>
      {% if product.description != blank %}
        <div class="product-description">
          <p class="product-description__label">{{ section.settings.description_label }}</p>
          <div class="product-description__content-container bq-content rx-content">
            {{ product.description }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Details",
    "tag": "section",
    "class": "product-main",
    "templates": ["product"],
    "settings": [
      {
        "type": "header",
        "content": "Translations"
      },
      {
        "type": "text",
        "id": "variation_label",
        "label": "Variations label",
        "default": "Variation"
      },
      {
        "type": "text",
        "id": "description_label",
        "label": "Description label",
        "default": "Description"
      },
      {
        "type": "header",
        "content": "Carousel settings"
      },
      {
        "type": "number",
        "id": "timer",
        "label": "Auto-rotate timer",
        "min": 0,
        "max": 100,
        "default": 5,
        "info": "Note: Use only positive numbers for pauses between rotating slides. Unit - seconds. Set 0 to turn off auto rotate. Max number = 100"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 24,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 36,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 24,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 24,
        "info": "Note: Use positive numbers only"
      }
    ],
    "important": true,
    "unique": true
  }
{% endschema %}
