{%- assign collection = section.settings.collection -%}
{%- assign blocks = section.blocks -%}

{%- if blocks.size > 0 or collection.items_count > 0 -%}

  {{ "products.css" | asset_url | stylesheet_tag }}
  {{ "product-card.css" | asset_url | stylesheet_tag }}
  {{ "product-carousel.css" | asset_url | stylesheet_tag }}

  {%- assign tag                   = section.settings.tag -%}
  {%- assign title                 = section.settings.title -%}
  {%- assign description           = section.settings.description -%}
  {%- assign view_all              = section.settings.view_all -%}
  {%- assign items                 = section.settings.items -%}
  {%- assign show_arrows           = section.settings.show_arrows -%}
  {%- assign show_bullets          = section.settings.show_bullets -%}
  {%- assign padding_top           = section.settings.padding_top -%}
  {%- assign padding_bottom        = section.settings.padding_bottom -%}
  {%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
  {%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}

  {%- if collection != blank -%}
    {%- assign items = collection.items -%}
    {%- assign items_type = "collection" -%}
  {%- else -%}
    {%- assign items = blocks -%}
    {%- assign items_type = "blocks" -%}
  {%- endif -%}

  {%- assign carousel = false -%}

  {%- if blocks.size > 1 or collection.items_count > 1 -%}
    {%- assign carousel = true -%}
  {%- endif -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- if padding_top != blank -%}
      --padding-top: {{ padding_top }}px;
    {%- endif -%}
    {%- if padding_bottom != blank -%}
      --padding-bottom: {{ padding_bottom }}px;
    {%- endif -%}
    {%- if padding_top_mobile != blank -%}
      --padding-top-mobile: {{ padding_top_mobile }}px;
    {%- endif -%}
    {%- if padding_bottom_mobile != blank -%}
      --padding-bottom-mobile: {{ padding_bottom_mobile }}px;
    {%- endif -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  <div
    class="products__wrapper{% if padding_top != blank or padding_top_mobile != blank %} products__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} products__wrapper--padding-bottom{%- endif -%}"
    style="{{- variables | escape -}}"
  >
    <div class="products__container container">
      <div class="products__top">
        <div class="products__col">
          {%- if tag != blank -%}
            <span class="products__tag">{{- tag -}}</span>
          {%- endif -%}

          {%- if title != blank -%}
            <h2 class="products__title">{{- title -}}</h2>
          {%- endif -%}

          {%- if description != blank -%}
            <div class="products__description">{{- description -}}</div>
          {%- endif -%}
        </div>

        <div class="products__col">
          {%- if view_all != blank -%}
            <a href="{{ routes.products_url }}" class="products__show button button--outlined button--large">
              {{- view_all -}}
            </a>
          {%- endif -%}
        </div>
      </div>

      <div class="products__list{% if carousel %} products__carousel{%- endif -%}">
        <div class="products__carousel-wrapper">

          {%- for item in items -%}
            {% case items_type %}
              {% when "blocks" %}
                {% assign product = item.settings.product %}
              {% when "collection" %}
                {% assign product = item %}
            {% endcase %}

            {%- if carousel -%}
              <div class="products__carousel-item">
                <div class="products__carousel-inner">
            {%- endif -%}
                  {%- include 'product-card' -%}
            {%- if carousel -%}
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}

        </div>

        {%- if carousel -%}
          {%- if show_arrows -%}
            <div class="carousel__buttons" aria-label="Carousel navigation" aria-hidden="true">
              <span class="carousel__button prev" title="Prev slide">
                Previous slide
                {%- include 'icon-arrow-right-full' -%}
              </span>
              <span class="carousel__button next" title="Next slide">
                Next slide
                {%- include 'icon-arrow-right-full' -%}
              </span>
            </div>
          {%- endif -%}

          {%- if show_bullets -%}
            <div class="carousel__bullets" aria-label="Carousel navigation" aria-hidden="true">
              {%- for item in items -%}
                {%- assign first = forloop.first -%}
                {%- assign index = forloop.index -%}

                <span class="carousel__bullet{% if first %} active{%- endif -%}" data-index="{{- index -}}" title="Jump to slide {{ index -}}">
                  Go to slide {{ index -}}
                </span>
              {%- endfor -%}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Products",
    "description": "Display products from a collection or in a list of individual products. There is a carousel layout",
    "tag": "section",
    "class": "products",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "tag",
        "label": "Tag",
        "default": "Tagline"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Products"
      },
      {
        "type": "contentEditor",
        "id": "description",
        "label": "Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      },
      {
        "type": "text",
        "id": "view_all",
        "label": "Button label",
        "default": "View all",
        "info": "Note: This button redirects the user to the products page. If the label is empty - the button absent"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection",
        "info": "Note: The collection takes precedence over 'Product' blocks"
      },
      {
        "type": "header",
        "content": "Carousel settings"
      },
      {
        "type": "paragraph",
        "content": "Note: The carousel appears automatically when there are more than 1 product in this section, and then below settings of the carousel is working"
      },
      {
        "type": "checkbox",
        "id": "show_arrows",
        "default": true,
        "label": "Show left/right buttons"
      },
      {
        "type": "checkbox",
        "id": "show_bullets",
        "default": true,
        "label": "Show navigation bullets"
      },
      {
        "type": "number",
        "id": "items",
        "label": "Maximum items",
        "min": 0,
        "max": 20,
        "default": 6,
        "info": "Note: Use positive numbers only. The maximum number of items to show is 20"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 150,
        "default": 112,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 150,
        "default": 112,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 40,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 40,
        "info": "Note: Use positive numbers only"
      }
    ],
    "max_blocks": 20,
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
  }
{% endschema %}
