{%- if results_count > 0 -%}

  {{ "search.css" | asset_url | stylesheet_tag }}
  {{ "product-card.css" | asset_url | stylesheet_tag }}

  {%- assign grid                  = section.settings.grid -%}
  {%- assign limit                 = section.settings.limit -%}
  {%- assign padding_top           = section.settings.padding_top -%}
  {%- assign padding_bottom        = section.settings.padding_bottom -%}
  {%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
  {%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
  {%- assign image_placeholder 	   = settings.image_placeholder -%}
  {%- assign is_focal              = settings.use_focal_images -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- if padding_top != blank -%}
      --padding-top: {{ padding_top }}px;
    {%- endif -%}
    {%- if padding_bottom != blank -%}
      --padding-bottom: {{ padding_bottom }}px;
    {%- endif -%}
    {%- if padding_top_mobile != blank -%}
      --padding-top-mobile: {{ padding_top_mobile }}px;
    {%- endif -%}
    {%- if padding_bottom_mobile != blank -%}
      --padding-bottom-mobile: {{ padding_bottom_mobile }}px;
    {%- endif -%}

    {%- case grid -%}
      {%- when 'two' -%}
        --grid-element: 2;
      {%- when 'three' -%}
        --grid-element: 3;
    {%- endcase -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  <div class="search__container container{% if padding_top != blank or padding_top_mobile != blank %} search__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} search__container--padding-bottom{%- endif -%}" style="{{- variables | escape -}}">
    {%- paginate results by limit -%}
      <div class="search-results">
        {%- for result in results -%}
          {%- render 'product-card',
              product: result,
              placeholder: image_placeholder,
              focal: is_focal
           -%}
        {%- endfor -%}
      </div>

      {%- if paginate.pages > 1 -%}
        <div class="search__pagination">
          {%- include "pagination" -%}
        </div>
      {%- endif -%}
    {%- endpaginate -%}
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Results",
    "tag": "section",
    "class": "search",
    "templates": ["search"],
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "number",
        "id": "limit",
        "label": "Products limit for pagination",
        "min": 6,
        "max": 24,
        "default": 6,
        "info": "Note: Use positive numbers only. Min number is 6, max number is 24"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Grid",
        "options": [
          {
            "value": "two",
            "label": "2 products"
          },
          {
            "value": "three",
            "label": "3 products"
          }
        ],
        "default": "three"
      },
      {
        "type": "number",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 24,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 24,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "default": 24,
        "info": "Note: Use positive numbers only"
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "default": 24,
        "info": "Note: Use positive numbers only"
      }
    ],
    "important": true,
    "unique": true
  }
{% endschema %}
